[2016-04-06 17:49] gabyx opened #1 "Add this cool feature to github.io"
Could we have the table of content buttoin also on ``github.io`` that would be awesome

[2016-04-06 17:51] Mottie commented on #1
Hmm, do you mean the gh-pages? Not every page is the same, and I'm not sure if the rendered markdown classes are the same. Do you have an example page?

[2016-04-06 18:23] gabyx commented on #1
The following page here:

http://gabyx.github.io/GRSFramework/

this index.html directly loads the Home.md from the wiki and then renders the markdown :-)

It would be the most handiest, if I could send the inner html of my

``<div id="content">...</div>``

to your java script function which (wenn the TOC button is pressed)
reads the innerHTML of ``<div id="content">...</div>`` , parses the stuff

[2016-04-06 19:38] Mottie commented on #1
Honestly, because you're using gh-pages, I think you might be happier with a side menu. Something like:

* http://takien.github.io/jPushMenu/
* https://www.berriart.com/sidr/
* http://callmenick.com/post/slide-and-push-menus-with-css3-transitions
* http://getbootstrap.com/javascript/#scrollspy (a bit more complicated to set up)

I could get you started... I'll work on something when I get some fre

[2016-04-08 22:25] Mottie commented on #1
Done: https://github.com/gabyx/GRSFramework/pull/1

[2016-04-08 22:26] #1 closed

[2016-04-11 21:11] gabyx commented on #1
Thanks for your input :-)
Due to that, I am no able to fully parse the rendered markdown into a sidebar TOC :-) pretty awesome, I added some +/- expand buttons on top =), thanks for your help .-)

http://gabyx.github.io/GRSFramework/

[2016-04-11 21:13] Mottie commented on #1
Nice work! :grinning:

[2016-04-24 17:13] Mottie opened #2 "Custom buttons"
I am considering adding a userscript that lets you add clickable buttons with user defined links  (suggested in a [refined-github](https://github.com/sindresorhus/refined-github) issue by @ben-eb)...

The following things need to be addressed:

* Would this work along with or be separate from the [custom hotkey userscript](https://github.com/Mottie/GitHub-userscripts/wiki/GitHub-custom-hotkeys)?
*

[2016-06-23 02:19] Mottie commented on #2
Added [GitHub Custom Navigation](https://github.com/Mottie/GitHub-userscripts/wiki/GitHub-custom-navigation) userscript in https://github.com/Mottie/GitHub-userscripts/commit/50bffd918943b8f7d1d6ec0ab43ad12cfe17d800.

[2016-06-23 02:19] #2 closed

[2016-07-22 09:26] myshov opened #3 "F1 doesn't work"
Hello!
I've tried to setup plugin but no luck.
In the help it said that: "Open the settings panel by pressing "F1" (default setting)"
But f1 doesn't work. I've tried via greasemonkey in Firefox and tempermonkey in Chrome.

I've tried to change "f1" onto "g h" directly in code of script, but It didn't work.

OS: Mac OS X 10.11
All browsers (Firefox, Chrome) are latest version.

[2016-07-22 12:08] Mottie commented on #3
Hi @myshov!

DOH, it looks like the default settings are messed up. I'll have the script fixed here shortly. But you can still open the panel by clicking on your avatar and clicking on the "GitHub Hotkey Settings" link.

![2016-07-22 07_05_01-github custom hotkeys mottie_github-userscripts wiki](https://cloud.githubusercontent.com/assets/136959/17056714/c61b1902-4fda-11e6-9136-d8cd5ef22ead.png)

T

[2016-07-22 12:08] #3 closed

[2016-07-22 15:10] myshov commented on #3
@Mottie Thank you!

[2016-08-10 20:14] darkred opened #4 "(GitHub Custom Navigation) Slight truncation in the icons' left side"
Thanks for another great userscript!

I just noticed this minor issue:  _(using GCN 1.0.3 in FF48 x64 in win10 with GM 3.8)_
there's a slight truncation in the icons' left side.

Here is a (resized) screenshot where I highlight the truncation (it's a few pixels) :
_-using a clean FF profile with only (GM and) GCN-_
![2016-08-10_223653 2](https://cloud.githubusercontent.com/assets/723651/17569133/9

[2016-08-10 21:36] Mottie commented on #4
Hi @darkred!

Interesting, it seems GitHub has an overflow hidden setting on the svgs. I'll override that in the script. Please let me know if the change fixes the problem.

[2016-08-10 21:43] darkred commented on #4
Yes, it's fixed. Thanks for the quick response!

[2016-08-20 15:30] darkred opened #5 "(GitHub Sort Content) In pinned repos lists the sort arrow is not displayed initially, and when you click to sort then the arrow is displayed multiple times"
I've noticed this minor issue in pinned repos lists: (GSC 1.0.3 in FF 48, GM 3.9, win 10):
the sort up/down arrow is not displayed (initially),
and when you click in the area to sort then the sort arrow is displayed multiple times filling the row.

Screenshot from e.g. https://github.com/addyosmani?tab=repositories
![2016-08-20_181648](https://cloud.githubusercontent.com/assets/723651/17832029/504

[2016-08-20 15:54] Mottie commented on #5
Hi @darkred!

Odd, I can't seem to duplicate the background repeat on pinned repos... I'll go ahead and add a `no-repeat` anyway.

I use [LICEcap](http://www.cockos.com/licecap/) to make the animated screenshots. Sometimes I end up editing them in Photoshop to remove frames or add labels.

[2016-08-20 16:04] darkred commented on #5
Thank you. I have also tried it in a clean FF48 profile with only GM and the script, and it occurs too.

[2016-08-20 16:22] #5 closed

[2016-08-20 16:24] Mottie commented on #5
Please check and make sure this update fixes the problem.

[2016-08-20 16:42] darkred commented on #5
Yes, the update fixes the issue.
It's just that:
- initially the sort arrow is not displayed:
![2016-08-20_193959](https://cloud.githubusercontent.com/assets/723651/17832539/19653364-670e-11e6-95ea-d33ed3a5a0e8.jpg)
- if you click to sort, then the arrow now is displayed on top of the `Mirrors` link:
![2016-08-20_192512](https://cloud.githubusercontent.com/assets/723651/17832457/10d653e2-670c-11e6

[2016-08-20 17:00] Mottie commented on #5
Ahh, I see why it stopped working... GitHub changed some class names.

[2016-08-20 17:09] Mottie commented on #5
Ok, try the script now... I wasn't paying attention initially when I said I couldn't duplicate the problem, it's because I was looking at a user's pinned repos, but the screenshot is from the user's repo tab <img title=":_ derp :" src="https://cloud.githubusercontent.com/assets/136959/13559387/49e2ecce-e3d9-11e5-8a16-73cbfdb7230e.gif"> .

[2016-08-20 17:13] darkred commented on #5
I'm really sorry...
That's the 3rd mistake in a row that I made... (yesterday, posting an issue in the wrong repo, and then ignoring that you told me not to post another issue) and now this...
I feel ashamed...

[2016-08-20 17:14] Mottie commented on #5
LOL no worries <img title=":_happy:" src="https://cloud.githubusercontent.com/assets/136959/13559407/7996bb94-e3d9-11e5-9b36-a39832cd3ceb.gif">

[2016-08-20 17:20] darkred commented on #5
Yes, the issue is fixed now :+1:
Thanks for your understanding.

[2016-09-12 19:57] darkred commented on #4
Today (probably after some GitHub layout change)
the issue unfortunately occurs again.

It occurs as before in e,g,
https://github.com/
https://github.com/Mottie/GitHub-userscripts.

[2016-09-12 20:10] Mottie commented on #4
It does look like the overflow is set again, I just need to increase the specificity. Thanks for letting me know!

[2016-09-12 20:53] Mottie commented on #4
Please try the update.

[2016-09-12 21:02] darkred commented on #4
It's fixed. Thank you.

[2016-09-12 21:02] #4 closed

[2016-09-15 02:09] darkred opened #6 "(GitHub Diff Links) Add support for Pull Requests"
Currently it works for commits, such as: https://github.com/zenorocha/sublime-javascript-snippets/commit/a9d8787736c4afe4e8b03bd7fc75cdea47ddd714
but not pull requests: https://github.com/zenorocha/sublime-javascript-snippets/pull/28/files

It would be great if you added support for pull requests to your very useful script.

---

I *think* that the change needed for this is to change line 42 from:

[2016-09-15 02:45] Mottie commented on #6
Hi @darkred!

Sure, I'll look into it.

[2016-09-15 03:33] #6 closed

[2016-09-15 03:35] Mottie commented on #6
Ok, try it out! I also added disabled buttons to the first and last files to keep all the buttons aligned 😉.

[2016-09-15 16:53] darkred commented on #6
Thanks a lot for the new version! Great!

[2016-09-29 11:36] aspiers opened #7 "please document where bugs should be reported"
Just discovered this awesome gold-mine of userscripts - many thanks for sharing these!  Please can you update the README.md to clarify where we should send bug reports?  I'm assuming it's either right here in this repo's issue tracker, or as discussions on Greasy Fork, but it would be helpful to document this for the benefit of all future users.  Thanks!

[2016-09-29 12:21] Mottie commented on #7
Hi @aspiers!

Sure thing! Reporting issues here would be ideal.

[2016-09-29 12:28] #7 closed

[2016-09-29 12:55] aspiers commented on #7
Great, thanks! I agree that Greasy Fork is not as good for tracking issues.

[2016-09-29 12:57] Mottie commented on #7
I'll start working on the fixes later today ⏳.

[2016-09-29 13:00] aspiers opened #8 "toggle expanders also starts to edit the PR title"
As reported at https://greasyfork.org/en/forum/discussion/11753/x; filing here to ease tracking of resolution :-)  Thanks!

[2016-09-29 13:01] aspiers opened #9 "Code guides appear in comment textareas"
As reported in https://greasyfork.org/en/forum/discussion/11754/x; filing here to ease tracking of resolution :-)

[2016-09-29 13:02] aspiers opened #10 "Code guide vertical lines are broken by differing indentation"
As reported in https://greasyfork.org/en/forum/discussion/11754/x; filing here to ease tracking of resolution :-)

[2016-09-29 13:03] aspiers commented on #7
Awesome, thanks :-)  No rush from my side.  I've submitted them as individual issues here; hope that helps.

[2016-09-29 15:53] aspiers opened #11 "monospace font toggle breaks PR UI"
If I view a PR's main page with the monospace font toggle userscript enabled, the cog icons on the right hand side for setting projects, labels, milestones, assignees all vanish.  This makes the userscript effectively unusable.

[2016-09-29 17:27] Mottie commented on #11
Hi @aspiers!

I can't seem to duplicate this issue. I did have to update the userscript to fix the button title & color (see https://github.com/StylishThemes/GitHub-Dark-Script/commit/474e1eb905495b2160c43203dbed81631385bd05).

![monospace-toggle](https://cloud.githubusercontent.com/assets/136959/18964823/22783022-8640-11e6-8d8e-53d5e587bbe8.gif)

[2016-09-29 17:29] #9 closed

[2016-09-29 17:29] Mottie commented on #9
Ok, code guides no longer appear inside of textareas.

[2016-09-29 17:33] Mottie commented on #10
Hi @aspiers!

Well, the code guides no longer appear in non-code blocks, but when you expand the code, the guide lines will still be staggered by 10 pixels. This is because the expanded code has a padding of 10 px on the inside of the table cell, whereas the original code guides are applied to a span inside the table cell. If I add padding to line up the guides, the actual guide would then be off

[2016-09-29 17:46] Mottie commented on #8
Hi @aspiers!

Do you have an example page that I can look at? I know it won't work for me as I won't be a collaborator, but the layout of the page may help me isolate this issue.

[2016-09-29 17:48] aspiers commented on #8
Sure: try this one: https://github.com/crowbar/crowbar-core/pull/575/commits

[2016-09-29 17:50] aspiers commented on #9
Cool, thanks - confirming that worked!

[2016-09-29 18:21] #8 closed

[2016-09-29 18:22] Mottie commented on #8
Greats thanks! It should be all fixed now!

[2016-09-29 18:27] Mottie commented on #11
Please note that there are two separate monospace font code sources. One is the `github-script-monospace-toggle.user.js` script, shown above. The second is built into the GitHub Dark script (`github-dark-script.user.js`).

[2016-09-29 18:33] aspiers commented on #8
Confirmed it works - awesome!

[2016-09-29 21:53] aspiers commented on #11
Yeah, I'm using the standalone userscript not the Dark one.  When I have it installed, those cogs on the right-hand side simply vanish.  When I disable the userscript and reload the page, they come back.  I'm semi-competent with Javascript, however my brain's not functioning 100% right now, so when I stare at the source I can't immediately see what the various functions do and how they combine tog

[2016-09-29 21:57] aspiers commented on #10
Sorry, I'm being stupid, but I don't quite understand "the actual guide would then be off by 10 pixels".  What do you mean by "the actual guide", and it would be off *what* by 10 pixels?

BTW, how do you capture these cool animated images?

[2016-09-29 22:57] Mottie commented on #11
Inside the `addBindings` function at line 65:

* A click on the body checks if the `event.target` has a "ghd-monospace" class name - it's the toggle button added inside of each comment block.
* If clicked, it finds the closest comment wrapper (`preview-comment-form`) which is applied to both new comments and edited comments.
* It then targets the `comment-form-textarea` and toggles the `ghd-monosp

[2016-09-30 02:35] Mottie commented on #10
Sorry, I should have explained better.

The guides are added as a linear-gradient background image to the "blob-code-inner" class elements. Note the differences in the following examples:

* Correct = [Regular (non-diff) code page](https://github.com/Mottie/GitHub-userscripts/blob/master/github-code-guides.user.js#L18) - the guide is between the 8 and the 0, "r" and "a" in transparent and between

[2016-09-30 02:50] Mottie commented on #11
I just updated this script again to use ES6, and the `closest` function I shared above in https://github.com/StylishThemes/GitHub-Dark-Script/commit/b1220bb2b28169e5356f3741bf32f0c804fb54aa.

Please try it out and see if the same problem persists.

[2016-09-30 10:18] aspiers commented on #11
Wow - it's fixed now! Thanks :-D

[2016-09-30 10:19] #11 closed

[2016-09-30 10:41] aspiers commented on #10
Wow, thanks for the great explanation! This is super clear now, and I really appreciate your efforts in hunting for the perfect solution :-)

[2016-10-02 23:44] aspiers opened #12 "Collapse-in-comment always starts collapsed"
Even if `Start with blocks collapsed?` is set to `false`, the blocks are still automatically collapsed when an issue loads.

[2016-10-02 23:54] Mottie commented on #12
Hi @aspiers!

Make sure to reload the page (<kbd>Shift</kbd> + <kbd>F5</kbd>) after changing the option as the script is loaded into the page and does not refresh because GitHub uses ajax page loading.

[2016-10-03 00:02] aspiers commented on #12
`false` appears to be the default value (at least it was for me), so this is a problem even without changing the option.  I also tried changing to `true` and reloading and the behaviour didn't change.

[2016-10-03 00:05] Mottie commented on #12
The setting will always initially show the opposite of the current setting - see [line 233](https://github.com/Mottie/GitHub-userscripts/blob/master/github-collapse-in-comment.user.js#L233).

LOL, actually, I just tested it and it does toggle the areas even without a page reload.

Maybe there is another script interfering? Are you using [Octopatcher](https://github.com/Mottie/Octopatcher)?

[2016-10-03 00:08] aspiers commented on #12
Oh, I see!  So when I typed in `true`, I wasn't actually changing it at all :-)

Hmm, this is not an intuitive UI at all.  Perhaps you can think of some way to make it clearer, e.g. tweaking the text?

[2016-10-03 00:08] aspiers commented on #12
To be clear, it does work now I understand how it's supposed to work :-)

[2016-10-03 00:09] Mottie commented on #12
What would you suggest?

[2016-10-03 00:12] Mottie commented on #12
In Octopatcher (an addon created from this userscript), I set a select with two options: collapsed & expanded. Does that make more sense?

Also, I'm going out of town on the 4th, I'll be unavailable for a month, or so. So please don't think I'm ignoring you if I don't respond.

[2016-10-03 00:14] aspiers commented on #12
That sounds better but I'd have to see it to be sure.

[2016-10-03 00:28] Mottie commented on #12
Updated.

[2016-10-03 08:11] aspiers commented on #12
Thanks - this is better for sure, but the main source of the confusion is still there, i.e. that the value auto-populated in the dialog is the *opposite* of the current state, so that you only have to click OK to change it. Could the text also give the current state, or clarify this somehow?

[2016-10-03 14:00] Mottie commented on #12
Ok, the current state is now visible.

Eventually, I'd like to change out the prompt for a modal window with a select and number input similar to what I have set up for Octopatcher, but without the enable checkbox:

![content-collapse](https://cloud.githubusercontent.com/assets/136959/16566472/66091342-41da-11e6-854d-d4023c80071a.png)

[2016-10-03 23:30] darkred opened #13 "(GitHub Collapse Markdown) fix for no longer working in Greasemonkey"
The following is a Firefox/Greasemonkey-only issue:
in Chrome 53/Tampermonkey 4.1.10 the issue doesn't occur.

_Using GCM v1.1.3 with GM 3.9 in FF 49  (win 10 x64)._

The script was no longer collapsing Markdown in any GitHub page.
To make sure I tried in a fresh FF profile with only GM installed and the script
and opened as a reference https://github.com/sinatra/sinatra
_(i.e. is the page that yo

[2016-10-03 23:44] Mottie commented on #13
Hi @darkred!

Thanks for letting me know! I'll have it fixed in a minute!

Also, in case you didn't know, I'll be going out of town for the next month. So if you don't get a response from me, you'll know why.

[2016-10-03 23:46] #13 closed

[2016-10-04 00:07] darkred commented on #13
You're welcome.
And thanks for letting me know, I really appreciate this.

[2017-03-23 15:43] duianto opened #15 "GitHub remove diff signs: not all files get their signs removed"
Hello, I just found the "GitHub remove diff signs" userscript, thanks for making it.

But it seems to have a bug, the `+` and `-` signs doesn't get removed from all files in the "Files changed" tab of some pull requests.

Here's an example with 6 files:
https://github.com/Mottie/tablesorter/pull/195/files
the signs have been removed from the first 5 files, but they are still shown in the last file

[2017-03-23 18:44] Mottie commented on #15
Hi @duianto!

Thanks for letting me know! I've been trying to fix this issue... give me a little more time to get it working properly in all cases.

[2017-03-25 08:46] Mottie commented on #15
Ok, I think I got it *all* fixed...

I've noticed that sometimes, when navigating from another page or tab to the "Files changed" tab, the dynamically loaded content doesn't always get processed. I added a 500ms delay which may, or may not process the new content; and attempts to get it to alway work have come up short.

Reloading the page *should* always work.

[2017-03-25 10:10] jerone commented on #15
And using [`pjax`-event](https://github.com/jerone/UserScripts/blob/master/Github_Commit_Whitespace/Github_Commit_Whitespace.user.js#L89) doesn't solve it?

[2017-03-25 14:20] Mottie commented on #15
@jerone I was not originally using `pjax:` events because they weren't firing in the situations outlined below; but using only mutation observers turned out to be not so great for performance. In this last update, I switched to using a mixed method which still isn't ideal.

You probably already know most of the information below, but I'm sharing all of my findings so that other developers may bene

[2017-03-25 15:01] duianto commented on #15
I updated the script in Tampermonkey and now it says:
GitHub Remove Diff Signs 1.1.0 (last updated 2h)

Unfortunately there doesn't seem to have been any change in the first two example links above, the same number of files have their signs removed and the rest are still showing signs.

The third example also look the same when the page first loads, the last two visible files show signs. But when

[2017-03-25 15:12] Mottie commented on #15
Odd, I've been testing the userscript on all 3 of those pages...

[2017-03-25 15:15] jerone commented on #15
I can see it working 3 out of 4 times with above example page loading.

[2017-03-25 15:18] Mottie commented on #15
It's working every time for me. Internally there is a loop that removes the +/- signs at intervals to allow continued user interaction with the page.

[2017-03-25 15:30] jerone commented on #15
This page is consistently not working: https://github.com/Mottie/Keyboard/pull/363/files
No errors in console.

[2017-03-25 15:31] Mottie commented on #15
Which blocks?

[2017-03-25 15:33] jerone commented on #15
[**@Mottie**](https://github.com/Mottie) commented on [25 mrt. 2017 16:31 CET](https://github.com/Mottie/GitHub-userscripts/issues/15#issuecomment-289218988 "2017-03-25T15:31:57Z - Replied by Github Reply Comments"):

All blocks, but only at load time. After force opening one of the hidden diffs, all signs are removed.

[2017-03-25 15:38] duianto commented on #15
I disabled all but one chrome extension tampermonkey, closed all but this tab, restarted chrome, turned off all other applications, including the once that were running in the system tray, i even restarted the computer and tested the examples between each step. The first two examples always work as described in the initial report. But the third example sometimes open with the 2 visible files havin

[2017-03-25 15:42] jerone commented on #15
I'm on GreaseMonkey in Firefox. Also tested with and without cache. Calling `processDiff()` function manually does remove the signs.

[2017-03-25 15:57] Mottie commented on #15
Derp... ok I think I see the problem LOL. Odd that it was working fine in Chrome, but not in Firefox.

[2017-03-25 16:00] duianto commented on #15
I added these logs before and after the if query selector line:
[code]
and when the page:
https://github.com/Mottie/Keyboard/pull/363/files

loads then only the "pre .highlight" message appears in the developer tools console, but when i click on "Load diff" to show the code for one of the two files, then both the `pre` and `in` messages are shown in the console.

[2017-03-25 16:01] Mottie commented on #15
Try the update I just pushed.

[2017-03-25 16:02] duianto commented on #15
Yep now it seems to be working 😄 👍

[2017-03-25 16:05] jerone commented on #15
All examples on this page are working for me too now 🎉

[2017-03-25 16:06] #15 closed

[2017-04-20 20:15] Mottie commented on #15
I just added a [How to](https://github.com/Mottie/GitHub-userscripts/wiki/How-to) wiki page with my current take on how I deal with GitHub and progressively loaded content. Let me know what you guys think.

[2017-05-17 06:38] CollinChaffin opened #17 "Github userscript request"
Hey Mottie!

Since you have by far created the most comprehensive (and most functional) GM/TM userscripts for Github, I have one I've been trying to figure out myself that is a hole that nobody has yet filled.  Perhaps this simply cannot be accomplished via userscript but I'll post here to get your thoughts.

Site/Match:  gist.github.com
Functionality:  Gists - the one "button" nobody has managed

[2017-05-17 12:52] Mottie commented on #17
Hi @CollinChaffin!

Thanks! I'm glad you're finding the scripts I've created useful 😸. I probably should apply to work at GitHub since I am looking for a job right now 😉

To clarify, you'd like to add a "raw" and "rawgit" button to each gist listing? Would you like it in a similar location to the gist to dabblet links?

![](https://cloud.githubusercontent.com/assets/136959/14035421/0f0f9738-f1fc-1

[2017-05-17 17:35] Mottie commented on #17
Preliminary investigation has revealed that adding a "raw" and "rawgit" button would require accessing GitHub's API to get the raw url for individual files. For example, my repo shown in the above example has this link in "my gists" list

https://gist.github.com/Mottie/3290897 (overall gist link)

Inside, each revision has a unique sha plus the file name:

https://gist.github.com/Mottie/3290897/ra

[2017-05-18 01:40] CollinChaffin commented on #17
Hey @Mottie!  Sorry I don't think I explained it very well.  The Gist search results have no way currently at all to download via any RAW link - you must first visit the individual Gist page, at which time via your other scripts I already do have a RAW, a RAWGit, even a different script HEAD button, etc.   All that works fine once the individual Gist page is loaded.  Again, what's missing is any l

[2017-05-18 02:26] CollinChaffin commented on #17
Just an idea after looking at everything again......not sure I understand the need for a persona token etc or even worrying about throttling etc. since I can use a download mgr and quickly download a few gist files back to back without needing a token since it's simply executing a handful of normal http get requests in the context of the user.  Even if I highlight an entire Gist search result page

[2017-05-20 00:45] Mottie commented on #17
A personal token isn't necessary unless you plan on accessing the API a lot! And it is better to use the API than to scrape the HTML pages for data since GitHub is constantly changing their layout class names.

I put together a script that will add a dropdown that contains links to the raw code for all the latest files in the gist. Here's a screenshot.

![github-gist-raw-links](https://cloud.githu

[2017-05-20 01:14] Mottie commented on #17
Done... link to wiki page: https://github.com/Mottie/GitHub-userscripts/wiki/Gist-raw-links

[2017-05-20 02:06] CollinChaffin commented on #17
WOW!  This is awesome!  I can confirm it's tested working great here!  The only thing I noticed - more of just an observation since I use a download manager anyway, is in the dropdown list of files, if I mouseover the statusbar does in fact show the correct RAW URLs, and if I then either use my alt-click DM or right-click and if I select to save link as....then it DOES save each RAW file perfectly

[2017-05-20 02:27] CollinChaffin commented on #17
Hey @Mottie one thing I just came across that I'm still trying to debug......for some reason if I disable (through trial and error) the "Github Wide" script, this one will draw the initial dropdown, but clicking it will not actually populate and open to show any files.  Not sure why or if this makes sense to you but were you developing it with the wide github script enabled so there is a dependenc

[2017-05-20 02:28] Mottie commented on #17
Hmm, yeah, I guess I never clicked on those links LOL... I'll look into the problem.

I don't really use GitHub wide, so I'm not sure why there would be a problem. I'll check that out too.

[2017-05-20 02:33] CollinChaffin commented on #17
Hey here are 2 screenshots I just took to help.....this one is the elements with the "wide github" script enabled and everything working:
![snag_5-19-2017_21-29-43](https://cloud.githubusercontent.com/assets/9301483/26272320/919b2f62-3cda-11e7-898f-b83ebc47f9f2.png)

and after the only thing I did was disable the other "Wide Github" script doing a page refresh and inspecting the same dropdown elem

[2017-05-20 02:38] Mottie commented on #17
LOL, give me a minute to investigate... I actually didn't write GitHub Wide style or the GitHub raw button script.

[2017-05-20 02:46] Mottie commented on #17
hmm, are you talking about [this GitHub wide userstyle](https://userstyles.org/styles/108591/github-wide)? Or are you using a userscript to do that?

[2017-05-20 02:51] CollinChaffin commented on #17
Sorry no it's here:

https://github.com/xthexder/wide-github

As a userscript.  And again, your new script here only works when I actually ENABLE the wide userscript (which is why my initial tests worked).  If I disable all other github related scripts and only enable this new one, the dropdown won't function.  If I then enable as the only other github related userscript in TM the above wide one,

[2017-05-20 02:59] Mottie commented on #17
Very odd... which browser are you testing this in? The screenshots look like Chrome... I tested the userscript successfully in Chrome and Firefox.

I'll have an update available in a second... it'll fix the left click, but I'm still not sure why it's hanging up on you.

[2017-05-20 03:04] CollinChaffin commented on #17
Chrome.  I'm doing more debugging but here is the search link I have open to test.  The dropdowns get painted but looking at the JS Log, when I enable the wide script, I see your script logging as it parses the links.  Now, with the only github related script (and the only single script that TM shows active on this page), it does NOT log in the console that it is even loading the Gists to populate

[2017-05-20 03:10] Mottie commented on #17
Oh... well, the userscript uses some of GitHub's built-in functionality to open the dropdown. I see there is a script error on that page in `ticky-browser.js` (some GitHub script) which is preventing any further javascript from running.

I guess I could bypass GitHub's code to open the dropdown... that should fix the problem.

[2017-05-20 03:13] CollinChaffin commented on #17
Hmm okay makes sense I just threw some quick poor mans console.log calls into your functions when I click the dropdown sure enough I get my console log hit that addBindings is then being called, but then it never then gets past the:

 if (target.classList.contains("ghrl-get-list"))

 So that seems to back up what you just said about the dropdown call......?

[2017-05-20 03:15] Mottie commented on #17
Oh duh... I just need to add a `z-index` to the link... the file name content is overlapping it.

[2017-05-20 03:16] CollinChaffin commented on #17
Weird I just re-tested with WIDE on again and sure enough my 2nd breakpoint got hit properly.  All that wide script does for Gists is:

// Gists
".gist-content-wrapper .container {" +
  "width: auto !important;" +
  "margin-left: 20px !important;" +
  "margin-right: 20px !important;" +
  "min-width: 980px;" +
"}" +

But I'm guessing it's because it's physically forcing that addition?

[2017-05-20 03:16] CollinChaffin commented on #17
AHH LOL!  Nice I missed that too!

[2017-05-20 03:17] CollinChaffin commented on #17
Hence why the damn wide appeared to fix it, LOL!

[2017-05-20 03:24] CollinChaffin commented on #17
LOL, and that also explained why my single left click didn't work!  2 birds with one stone - 100% working great now!

[2017-05-20 14:08] Cologler opened #18 "feature request."
this is my scripts:

https://greasyfork.org/zh-CN/scripts/29107-gist-raw-button

I hope this feature can be add to:

https://greasyfork.org/zh-CN/scripts/29888-gist-raw-links

[2017-05-20 14:24] Mottie commented on #18
Hi @Cologler!

The `gist-raw-links` userscript uses GitHub's API to get the raw file urls so it *should* always point to the newest version. But, I don't see a problem with removing the version specific hash from the URL.

[2017-05-20 15:50] Cologler commented on #18
@Mottie but when copy the raw url from `gist-raw-links`, and parse to greasyfork.org, it cannot auto update when gist updated.

[2017-05-20 15:55] #18 closed

[2017-05-20 15:56] Mottie commented on #18
Ok, v0.1.3 provides the newest raw url.

[2017-05-20 15:57] Mottie commented on #17
Excellent! I've just updated it again to use the newest version raw url - see #18.

[2017-05-20 15:57] #17 closed

[2017-06-05 18:28] darkred opened #20 "(GitHub Toggle Issue Comments) Only 1 (empty) placeholder is displayed instead of the commenters avatars"
_Using 'GitHub Toggle Issue Comments' script version 1.0.26
with either GM 3.11 in Firefox 53.0.3 (even in clean profile)
or TM 4.2.7 in Chrome 58._

The issue is that no avatars are added under the `Hide Comments from` text:
only 1 (empty) placeholder (i.e. the `<img>` tag for that empty placeholder has `src="undefined"`.)
is displayed instead.

<br>

Here is a screenshot (from an [issue link exa

[2017-06-05 20:23] Mottie commented on #20
Hi @darkred!

Thanks for reporting this problem. It looks like GitHub moved the avatar class name. I'll get this fixed ASAP!

[2017-06-05 20:32] #20 closed

[2017-06-05 20:33] darkred commented on #20
Thank you for the quick fix!

[2017-06-30 18:58] ShalokShalom opened #23 "404 in Wiki"
![screenshot_20170630_205754](https://user-images.githubusercontent.com/6344099/27750138-cf34c096-5dd6-11e7-8969-735557a401cf.png)

[2017-06-30 19:36] Mottie commented on #23
Hi @ShalokShalom!

Thanks for letting me know... I'll get that fixed.

[2017-06-30 19:39] Mottie commented on #23
Updated in https://github.com/Mottie/GitHub-userscripts/wiki/GitHub-custom-navigation/904ad1c5851f2397f3cb022062ee2abcea717e65.

[2017-06-30 19:39] #23 closed

[2017-07-03 12:32] gingerbeardman opened #24 "Sort file listing?"
Would expect it in GitHub Sort Content.

But have also checked GitHub Files Filter, no joy.

Currently I see:

![screen shot 2017-07-03 at 13 27 29](https://user-images.githubusercontent.com/49612/27793138-ad8ab3a4-5ff4-11e7-8e24-f392faba0107.png)

[2017-07-03 12:52] Mottie commented on #24
Hi @gingerbeardman!

I didn't include the sorting in the `GitHub sort content` userscript because it adds the sort arrows as a background image and the file view doesn't have a header that can be targeted. I found [this userscript](https://github.com/trespassersW/UserScripts/blob/master/show/GHSFl.md) a while back that adds clickable arrows to allow sorting, so I didn't think it would be necessary

[2017-07-03 13:01] gingerbeardman commented on #24
@Mottie thanks for the link, sadly that still keeps folders and files separate 😭

Although easy enough to change that script once it's installed. Cheers!

Would still use your solution if you ever do one. 👍

[2017-07-04 00:57] #24 closed

[2017-07-04 00:58] Mottie commented on #24
It was easier to add then I thought 😸

[2017-07-04 15:09] gingerbeardman commented on #24
@Mottie beauty! many thanks

[2017-07-04 15:33] Mottie commented on #24
Hehe, I think it actually looks kinda ugly, but what can ya do?

[2017-07-04 15:42] gingerbeardman commented on #24
you adding it was beautiful, it looks... passable 😄

[2017-07-04 15:46] gingerbeardman commented on #24
strangely, is only appears if i get to a page and reload it?

if i get to a page through browsing it doesn't appear?

https://transfer.sh/KKCTo/quirk.mov

[2017-07-04 16:01] Mottie commented on #24
Yeah, it's very fussy... the files within the table are added after the page loads, so sometimes it acts that way. I have the same issue with the file filter userscript. If you look at the bottom of the code, you'll see this block:

[code]

Try increasing the `200` ms a little bit and see if that helps. I'll keep searching for a better solution.

[2017-07-05 19:28] Mottie commented on #10
And in case anyone is wondering why the guidelines look all wide and blurry, it's a Chrome bug - https://bugs.chromium.org/p/chromium/issues/detail?id=729727

[2017-09-02 13:09] Mottie commented on #10
I looks like finally got the alignment issue fixed, at least it looks that way... the bug with Chrome's linear gradient rendering is really annoying - see the gif I added in the last comment. The guides look great in Firefox!

I think I'll leave this issue open for now.

[2017-09-22 05:14] monk-time opened #26 "Custom hotkeys don't work on users that partially match reserved names"
The script for adding custom hotkeys breaks if a repo owner partially matches any of Github's reserved names. For example, hotkeys don't work on [git-for-windows/git](https://github.com/git-for-windows/git) because it has 'windows' in the owner's name.

This seems to be caused by JS testing a regex at all positions in a given string instead of only at the start (even without a global flag):

https

[2017-09-22 20:08] Mottie commented on #26
Hi @monk-time!

Thanks for letting me know about this problem. I'll have it fixed soon.

[2017-09-22 22:06] #26 closed

[2017-10-01 11:01] jerone opened #27 "(GitHub code show whitespace) show all whitespaces"
I tried [GitHub code show whitespace](https://github.com/Mottie/GitHub-userscripts/wiki/GitHub-code-show-whitespace) today, and found that it only shows leading and trailing spaces & tabs. There is [another script](https://github.com/glebm/render-whitespace-on-github) that does show the inline whitespaces, and I was wondering if you can implement this too.

[2017-10-01 15:06] Mottie commented on #27
Hi @jerone!

That sounds like a good idea, I'll take a look!

[2017-10-02 08:45] jerone commented on #27
@Mottie Saw you commit, all inline whitespaces work perfectly now. 🎉

I do however see an extra space character before every line now. For example https://github.com/jerone/UserScripts/commit/0c1e262e7ac6158b9f188f8b23f57ed2b0e2d75a, the first userscript block in GitHub_Commit_Compare.user.js is not prefixed with a space in the code, still I see the space character.
![2017-10-02 10_38_44-merge pul

[2017-10-02 12:56] Mottie commented on #27
Hmm, the space you're reporting, I think, is due to the replacement of the "+" (or "-") in the diff. So the script that is replacing the that symbol is the culprit, it's the `github-remove-diff-signs.user.js` script, if you're using it.

I do however see an issue in the readme file from that same commit - it looks like the space inside the span is being removed and the carriage returns are misalig

[2017-10-03 05:19] Mottie commented on #27
I tried that, but I think it's best to completely remove the "+", "-" or first space because the whole reason we're doing it is to make it easier to copy/paste the code. The main issue then becomes removing the leading space in the expanded code section. I'll leave the detection and processing of the expanded section for a later version.

It's the weirdest thing ever... I had to switch all the spa

[2017-10-03 08:14] jerone commented on #27
It works great now! Thanks for fixing so fast.

[2017-10-03 08:14] #27 closed

[2017-10-11 16:00] Mottie commented on #27
Derp, all I needed to do was to add css to hide the first whitespace element added by the userscript.

[2017-10-20 20:51] darkred opened #28 "(GitHub Toggle Issue Comments) Reference messages are not listed/hidden"
Using 'GitHub Toggle Issue Comments' script version 1.1.2
with GM 3.17 in Firefox 56.01

Example link:
`https://github.com/Microsoft/vscode/issues/11847`
There are 3 such entries in that page (one is a group with 3 entries, the other two are single) .

I quote from the script code:
[code]
Unfortunately the above selector `.discussion-item-ref, .discussion-item-head_ref_deleted` no longer works:
th

[2017-10-21 00:13] Mottie commented on #28
Hey @darkred!

Thanks for letting me know. That does appear to be a recent change in their layout.

I recently added the functionality to check if the `.discussion-item` contains a certain class, so I'll have it check for the `h4` with a class of `.discussion-item-ref-title`, which appears to cover the two layouts I've seen in both the references from Feb 9 and Apr 4 ([ref](https://github.com/Micr

[2017-10-21 00:14] #28 closed

[2017-10-21 00:21] darkred commented on #28
Thank you for the quick fix, @Mottie !

[2017-11-19 14:03] monk-time opened #29 "GM_ APIs no longer supported in GM4"
With the recent update to Firefox (FF57, aka Quantum) Greasemonkey devs [have decided to change](http://www.greasespot.net/2017/09/greasemonkey-4-for-script-authors.html) their API from synchronous functions `GM_*` to async methods of the `GM` object. This means that starting with GM4 (the first version compatible with FF57+) all scripts that used any of those functions will no longer work.

As an

[2017-11-19 15:35] Mottie commented on #29
Hi @monk-time!

I plan on adding support via the polyfill. I need some time to catch up with everything since I just returned from a vacation.

[2017-11-29 14:49] olets opened #30 "request: collapse inline PR comments"
I'd love a toggle to collapse inline comments in the files view of a PR, with a "toggle all" button and individual toggles on each comment.

Use case: for PRs that are complicated or need a bunch of background knowledge, my team likes to sprinkle in explanatory comments to help reviewers… but that can make the PR look intimidating, and can make reviewing harder for people who don't need the explan

[2017-11-29 16:34] Mottie commented on #30
Hi @olets!

I'm glad you're finding the scripts useful! 😸

Have you tried the [issue comments](https://github.com/Mottie/GitHub-userscripts/wiki/GitHub-issue-comments) userscript? It has toggles for reviews and diff comments, both current and outdated.

![](https://user-images.githubusercontent.com/136959/33386295-46176e62-d4f0-11e7-939f-af258d8d369f.gif)

Or do you mean replace the ugly comment c

[2017-11-29 16:47] olets commented on #30
Oh sweet, no I didn't try it because of

[code]

Will give it a try!

[2017-11-29 17:35] Mottie commented on #30
Oops! I've just fixed that message.

[2017-11-30 15:42] olets commented on #30
Ok tried it out. Yes, that does exactly what I wanted in the Conversation tab 🎉

For the Files tab, I don't think I ever noticed the Show Comments check box! How surprising. Looking at it now:

- Yes, I'd love to be able to shift-click to toggle them all.
- Hidden comments are _completely_ hidden. I'd much rather have them collapsed than fully hidden. Maybe the "Show Comments" checkbox could be re

[2017-12-01 20:41] Mottie opened #32 "Unable to select text with code-guides in FF"
Reported at [Greasy Fork](https://greasyfork.org/en/scripts/22674-github-code-guides).

[2017-12-01 21:00] #32 closed

[2017-12-05 05:36] colin-marshall opened #33 "Whitespace toggle not present on all files in diff"
I'm using `github-code-show-whitespace.user.js` and Tampermonkey with Chrome 62 on macOS. That's the only script I'm currently using.

In [this diff](https://github.com/olefredrik/FoundationPress/pull/1178/files) I stop getting the toggle button at `library/cleanup.php` and all the files below it.

<img width="1422" alt="screen shot 2017-12-04 at 10 34 00 pm" src="https://user-images.githubusercon

[2017-12-05 20:36] Mottie commented on #33
Hi @colin-marshall!

Thanks for reporting this problem. It looks like that since the userscript is set to run on document idle and the `@require` code listens for a document ready, it isn't being run.

I'll update the mutations.js file and the show whitespace userscript soon!

[2017-12-05 21:45] #33 closed

[2017-12-05 23:24] colin-marshall commented on #33
@Mottie wow that was fast! Just tested and the toggles now go down to the last file. Thanks!!!

[2017-12-11 02:41] #30 closed

[2017-12-11 02:50] Mottie commented on #30
All done. Let me know what you think.

[2017-12-30 18:32] CollinChaffin opened #34 "Raw links no longer working w/Dec14th update (0.1.5)"
Hey Rob!

I see the update on Dec 14th seems to indicate using a modifier, but all I see now when I click the raw links is a spinning Github logo and the links never appear.  Since it was just updated 2 weeks ago, am I just maybe missing something new I need to do?  I'm trying to go through the code now I really did not compare the changes with the last update since I always trust your scripts....

[2017-12-30 18:41] Mottie commented on #34
Hi @CollinChaffin!

Hmm, I wonder if you've just hit the limit on API calls for the hour? It's working fine for me... I guess maybe I need to add a message if there is a problem.

![dev2](https://user-images.githubusercontent.com/136959/34456546-c5d21202-ed5e-11e7-93d6-9361f588ac5b.gif)

[2017-12-30 18:58] CollinChaffin commented on #34
Hi did you see my edit?  It works fine when I disable Github Dark (StylishThemes) which is a pretty significant script.  It always worked without issue along side it (and several others from both you and StylishThemes) until this last update.  Looking at the code, nothing immediately jumps out at me, but I also haven't been living inside the Github API's etc. like you guys so maybe if you take a l

[2017-12-30 19:08] Mottie commented on #34
Hehe, I wrote *most* of the GitHub dark userscript as well.

What browser are you using? I tested with both scripts running in Chrome and Firefox and I still can't reproduce the issues you're describing. Are you seeing any errors in the console? What about the network tab?

[2017-12-30 19:11] CollinChaffin commented on #34
Sorry, meant to add the 2 captures I just did with the only change being disabling the Github Dark userscript in between and a page refresh:

With 2 scripts enabled - this Github Raw Links AND the Github Dark by StylishThemes:

![snag-12-30-201712 59 27-pm](https://user-images.githubusercontent.com/9301483/34456698-ca971950-ed62-11e7-999b-c5ece005d623.gif)

After disabling the Github Dark userscri

[2017-12-30 19:12] CollinChaffin commented on #34
LOL I swore you wrote that one that's why I was a bit baffled!  Well then, hopefully it really could come to you with a glance at the code(s)! :)

[2017-12-30 19:38] CollinChaffin commented on #34
Okay so I think I found the issue.....

I added 2 console.log points at lines 115 and 117 to verify whether the inner loop that actually populates the dropdown is firing in both cases with and without Github Dark.

Then, a DOH! moment....for some reason, ONLY when Github Dark is enabled......here is the difference:

First, the successful run with Github Dark DISABLED in the console:
![snag_12-30-2

[2017-12-30 19:42] Mottie commented on #34
Oh cool!

I just updated the raw-links script to show any error messages in the popup. I'll take a look at the GitHub-Dark script now.

Do you use [Stylus](https://github.com/openstyles/stylus)? And have you seen the [GitHub Dark usercss style](https://github.com/StylishThemes/GitHub-Dark#installing) (you can install it *directly* from our repo)?

[2017-12-30 19:47] Mottie commented on #34
Hmm, actually that's odd... the GitHub Dark userscript doesn't use the `api.github.com`, but the raw gist userscript does.

Maybe it's an issue with the userscript manager you're using. Which one are you using and what browser?

[2017-12-30 19:47] CollinChaffin commented on #34
Yes, thanks but I need all the functionality of GM/TM above and beyond the CSS of Stylus but I love the fact that it's returned to open source and away from the Stylish!  I'm guessing because of the hooks that the Dark script is making and loading the same prereqs that it is causing the issue but adding that allow to it and it's working great together again regardless of load order etc.

[2017-12-30 19:51] CollinChaffin commented on #34
Tampermonkey latest on Chrome x64 (I added it above in an edit for you).  If I have time I'll debug deeper to figure out exactly why and I agree, clearly Github Dark isn't using it or it would be broken, but it does so much hooking itself all I can think is if you think about it all the calls on that gist page that Dark makes and overrides default, now Rawlinks comes along and also wants to overri

[2017-12-30 19:53] darkred commented on #34
I use the usercss version with Stylus (not the userscipt).

Nevertheless, after I read the OP, I  checked and found that I had the same issue: a spinning Github logo and the links never appear.
So, by toggling a few of the 22 scripts that run in gist pages -[example](https://gist.github.com/BrockA)- (most of which written by Mottie)
I quickly found that, the script that would conflict with the 'Gi

[2017-12-30 19:58] Mottie commented on #34
Thanks for the feedback. It's odd that I can't reproduce the problem and I too am using Chrome 63, but I'm using TM beta v4.5.

[2017-12-30 20:06] CollinChaffin commented on #34
LOL thanks @darkred  for the info but I'm confused if you exclude gist.github.com, you are excluding the actual source site required by the GIST raw links. :)

Also, if you look above at my console screengrab you can see at least in my case, the debug clearly shows that the CALLING script was Github Dark (when enabled) being forced by the Rawlinks when the call is made since GH Dark has overridden

[2017-12-30 20:08] darkred commented on #34
Typo.

[2017-12-30 20:21] Mottie commented on #34
The screenshot is showing the error from script `VM590:36` - a different script than the `VM604` showing the "HIT" messages. Either way, if two different userscripts are causing the same issue, I think it might be related to TM and not either script.

Maybe @derjanb can verify if this is an problem?

[2017-12-30 20:46] CollinChaffin commented on #34
What further proves the async hooks from GH Dark are making the GM.xmlHttpRequest, you can actually leave everything broken (in my tests) and simply change this Rawlinks script from @run-at document-IDLE to document-START (which is what GH Dark is), and bang it also fixes the issue.  That has slipped by me originally which is also why changing the load order in TM was irrelevant, since the GH Dark

[2017-12-30 20:49] CollinChaffin commented on #34
@Mottie VM59 is GH Dark - I only have 2 enabled.  VM604 is this script and that's my point - GH Dark is sitting in async loop and it is VM590 which is returning the security error and also why that line VM590 disappears and the calls go through when I add the @connect line to the GH DARK script.  Sorry I must not have explained that clearly before!

[2017-12-30 20:56] Mottie commented on #34
No, you were clear. I just don't see how adding a `// @connect api.github.com` to the GitHub Dark Script since that script is only accessing `raw.githubusercontent.com` and does have a corresponding `// @connect raw.githubusercontent.com`.

[2017-12-31 04:12] CollinChaffin commented on #34
It's not.  Ultimately there is/was already an underlying issue with GH Dark that I never noticed that is causing it to never init.  On multiple machines, if I sit and refresh the page and click the dropdown where GH Dark appends the "Github Dark Settings" for example, 50% of the time it never appears due to the code not completing.  I'm convinced the same issue is basically making the async (don't

[2017-12-31 04:56] Mottie commented on #34
Ok, I just updated the GitHub Dark script to not rely on the DOMContentLoaded event. Please let me know if that fixes the issue.

[2017-12-31 09:32] derjanb commented on #34
@Mottie @CollinChaffin I've not checked it in detailt, but I think the issue is caused by [requiring the GM4 polyfill](https://github.com/Mottie/GitHub-userscripts/blob/master/gist-raw-links.user.js#L15) which leaks the GM object to the global scope.
If now there are two scripts using it, then only one script will be able to use the right one with the right `@connect` restrictions. Can you please

[2017-12-31 15:45] Mottie commented on #34
I still can't duplicate the issue 😿

[2017-12-31 23:56] Mottie commented on #29
Sorry, it's too much work - see https://github.com/greasemonkey/greasemonkey/issues/2787

[2017-12-31 23:56] #29 closed

[2018-01-01 13:19] jerone commented on #29
I agree with you @Mottie. It started with GM4 not detecting my 50+ installed UserScripts. GM does not support drag-and-drop installation (after finding GM's installation folder), and TamperMonkey does, so I switched to TM (also because it is available on all other browsers too). My personal feeling is that GM is forcing a new standard to us way to fast without being backwards-compatible (while TM

[2018-01-23 16:50] darkred opened #35 "'Toggle Code Wrap' and 'Copy Code Snippet' conflict by themselves and with 'Collapse In Comment'"
STR

- Using TM 4.5.5663beta in Firefox 58 or TM 4.5 in Chrome 63:
install latest versions of:
'GitHub Collapse In Comment' 1.0.13
'GitHub Toggle Code Wrap' 1.1.3
'GitHub Copy Code Snippet' 0.1.0

- here is a long code example:

[code]

- Here is how the markdown is displayed, i.e. the code is not collapsed:
![2018-01-23_180240](https://user-images.githubusercontent.com/723651/35286365-82c1f316-00

[2018-01-23 19:49] Mottie commented on #35
Hi @darkred!

Thanks for letting me know! Hmm, actually they behave differently depending on the priority; though either way, they misbehave! I'll see what I can do later tonight.

[2018-01-24 11:57] monk-time commented on #29
I'm sorry that the GM devs treated your suggestions that way, looks like it's not a happy situation re: GM4 for everybody involved.

In any case, I've made GitHub Custom Hotkeys GM4-compatible by [switching to native APIs](https://github.com/monk-time/userscripts/commit/80e1bcea8f3c5272ab7eb2edef48115fe314d6a6#diff-da9d1fbe1fc6b540b25d25fa6b09567e) in my fork, but I haven't added any code for user

[2018-01-24 13:48] Mottie commented on #29
@monk-time That'll work too... in your fork, make sure to:

* Add `@grant none`
* Change the `@updateURL` and `@downloadURL` to point to your version.

[2018-01-24 13:56] monk-time commented on #29
I left it that way to have a minimal PR in case you'd want to integrate those changes, but I'll make sure to add your suggestions. Thanks!

[2018-01-24 18:41] Mottie commented on #29
I haven't been using local storage mostly because it may be cleared out by the site ([ref](https://stackoverflow.com/questions/15730216/how-where-to-store-data-in-a-chrome-tampermonkey-script)).

Oh, I will need to update the custom hotkey script as I found a couple of minor issues...

[2018-01-24 21:38] darkred commented on #35
Thank you for fixing the conflict of ''GitHub Copy Code Snippet'.
Also, the icons of the two scripts no longer overlap.

I see that you closed the issue, but in your commit, no changes for ''GitHub Toggle Code Wrap' were included, but it also conflicts with with 'GitHub Collapse In Comment', i.e. the code block doesn't collapse.
If there's nothing more you can do to make them compatible, ok.
I jus

[2018-01-24 22:03] Mottie commented on #35
Oops, I forgot about the Toggle code wrap code.

[2018-01-28 04:55] colin-marshall opened #36 "Can't move Github Project cards when GitHub code show whitespace is active"
Whenever I have the GitHub code show whitespace active, I cannot move cards between columns in GitHub projects.

[2018-01-28 05:58] Mottie commented on #36
Hi @colin-marshall!

Hmm, that's very odd. I think it has something to do with with `@grant` setting and maybe GitHub's CSP.

I can break the drag-and-drop on the project page with this minimal userscript:

[code]

And, if I change the `@grant` setting to `none`, the project page starts working. I've only tested this on Tampermonkey Beta for Chrome so far. I'm tired, so I'll test it some more in t

[2018-01-28 06:08] Mottie commented on #36
Related: https://github.com/StylishThemes/GitHub-Dark/issues/581 (GitHub-Dark script)

[2018-01-28 17:08] #35 closed

[2018-01-28 17:14] Mottie commented on #35
All fixed! Please make sure to update both scripts.

[2018-01-28 17:56] darkred commented on #35
Thank you!

[2018-01-30 19:52] Mottie commented on #29
More GM4 polyfill troubles... https://github.com/JasonBarnabe/greasyfork/issues/523

[2018-02-16 15:25] Mottie commented on #36
It looks like this has been fixed in Tampermonkey Beta.

[2018-02-17 04:48] colin-marshall commented on #36
@Mottie sorry for being slow to respond. Thanks for looking into this and staying on top it!

[2018-02-28 18:14] darkred opened #39 "(GitHub Sort Reactions) Suggestion: collapse out of view the block of buttons when mouseaway. In such case, display the active sort icon next to the two-triangles icon"
@Mottie First of all, thanks a lot for this great script!
I was wondering whether it's possible to make a script to sort the comments based on the reactions in a practical way ! You really nailed it, once again! 👏

----

I just have one suggestion, please:

Currently, having two rows of button blocks (one of the post itself and the second by the script)
makes it distracting and difficult for me to

[2018-02-28 20:33] Mottie commented on #39
Hi @darkred!

Yeah, I agree that having the bar under the comment with all the reactions is a bit confusing. Too many emojis clumped together!

I'm not sure I want to make the bar collapsible. Maybe instead we could do something like this?

![](https://user-images.githubusercontent.com/136959/36811643-1db43054-1c94-11e8-931b-47486ab195b0.png)

Clicking the emoji would open a select showing all rea

[2018-02-28 20:50] darkred commented on #39
Great idea, @Mottie! That would be the best! Compact and subtle.

[2018-03-06 19:24] #39 closed

[2018-03-06 19:25] Mottie commented on #39
Try this out:

![](https://user-images.githubusercontent.com/136959/37052861-373a814e-2140-11e8-92f9-5c6fb57de7ba.gif)

[2018-03-06 19:49] darkred commented on #39
Great! Thank you.

[2018-04-07 22:40] haraldreingruber opened #40 "(GitHub Sort Content) Add gitlab.com support for sorting markdown tables"
How much effort is it to make the GitHub Sort Content script also work for gitlab.com markdown tables?

I would also consider contributing the enhancement myself. I guess once I figured out the difference compared to the github.com markdown rendering it should not be very difficult.
Just adding the @include rule is not enough, I've already tried that.

[2018-04-08 02:35] Mottie commented on #40
Hi @haraldreingruber!

Since I haven't been using GitLab that much, I'll need your help locating more content to make sortable.

I threw together a userscript - https://gitlab.com/Mottie/GitLab-userscripts/wikis/GitLab-sort-content

Right now it'll sort the repo file list and any markdown tables. Please let me know if it ever stops working and what content would be good to add.

[2018-04-08 02:35] #40 closed

[2018-04-09 01:06] haraldreingruber commented on #40
Thanks a lot @Mottie!
Unfortunately, the link above doesn't seem to have public access permissions.

[2018-04-09 01:34] Mottie commented on #40
You need to log into GitLab to see the repository for some reason... I made it public, so I'm not sure why this is the case.

[2018-04-09 10:23] darkred opened #41 "(GitHub Issue Highlighter) The linked-to comment is not highlighted in some cases"
STR
In a clean Chrome 65 profile with only Tampermonkey 4.6.5752 beta installed and GIH script v1.0.7,
open `https://github.com/gorhill/uBlock/issues/3689` and follow the '#3680 (comment)' link inside the comment:
the linked-to comment in the target page won't be highlighted.
There's no error in Console.

PS. For reference, for other links to comments, such as the one displayed in the [script info

[2018-04-09 12:44] haraldreingruber commented on #40
Thanks. I've changed the Gitlab repo, wiki, issue-tracker, etc. to public... I tested it without being logged in, and also with another user which is not a member of the project.  After a first quick test it looks like write access is only for project members, or via merge-request. Will check the permissions more extensively later this evening. (I only used gitlab with private repos so far).

[2018-04-09 12:49] Mottie commented on #40
So weird... I'm sure I saw the setting and it was set to public. I guess I should RTFM.😸

[2018-04-09 12:50] haraldreingruber commented on #40
Yeah, there is a setting for the project itself, but then there are also the ones per feature... I think that was causing the confusion.

[2018-04-09 13:01] haraldreingruber commented on #40
Cool, it works quite nicely. Thanks for the super fast response 😄 👍

[2018-04-09 13:29] Mottie commented on #41
Hi @darkred!

Thanks for letting me know. I'll have this fixed soon.

[2018-04-09 17:02] Mottie commented on #41
Fixed in https://github.com/Mottie/GitHub-userscripts/commit/75f27e0d0f845aee2930405dd2cee0112417488f.

[2018-04-09 17:02] #41 closed

[2018-04-09 17:08] darkred commented on #41
Thanks a lot for the quick fix, @Mottie !

[2018-04-11 21:06] darkred opened #42 "(GitHub Sort Reactions) Third click on 'sort by +1' and 'speak no evil monkey' avatar icons doesn't restore the comment order in some cases"
STR
In a clean Chrome 65 profile with only Tampermonkey 4.6.5752 beta installed and GSR script v0.2.2:

### case 1
open `https://github.com/gorhill/uMatrix/issues/928` and click on the  'speak no evil monkey' avatar sort icon 3 times: notice that the comment order is not restored.
_With all other avatar sort icons, the comment order is restored ok._

### cases 2, 3
In `https://github.com/gorhill/u

[2018-04-12 00:39] Mottie commented on #42
Hi @darkred!

Eww yuck! Thanks for reporting this problem. I'll try to look into it soon.

[2018-04-12 16:40] Mottie commented on #42
Hmmm, ok I'll take a look again.

[2018-05-08 13:34] #42 closed

[2018-05-08 13:35] Mottie commented on #42
Sorry for taking so long to get this fixed!

[2018-05-08 15:08] darkred commented on #42
Np! Thanks a lot for fixing this!

[2018-05-08 17:43] Mottie commented on #36
Tampermonkey v4.6 is now available... closing this issue.

[2018-05-08 17:43] #36 closed

[2018-05-09 11:43] aspiers opened #44 "(GitHub Toggle Issue Comments) check mark hiding comments is unintuitive UI"
The Toggle Issue Comments userscript doesn't hide comments by default, which makes perfect sense.  However the check mark (tick) symbol only appears to the right of a category after clicking a category of comment to *hide* that category, which I find very unintuitive and in fact the exact opposite of what I'd expect.

For example if `Reviews (outdated)` has a check mark next to it, it is more logi

[2018-05-09 11:59] Mottie commented on #44
Hi @aspiers!

Good points now that it has come to my attention. I think I'll swap the behaviour.

And, I'm glad you're finding this userscript useful. <img title=":_excite:" src="https://cloud.githubusercontent.com/assets/136959/13559383/49d88766-e3d9-11e5-9c0c-9a958bfc03ee.gif">

[2018-05-10 04:59] Mottie commented on #44
I've updated the userscript. The font bold didn't change.. it is meant to show which settings would have an effect when toggled. I hope this updated interface is a bit more intuitive. Please let me know what you think.

[2018-05-10 15:46] aspiers commented on #44
[**@Mottie**](https://github.com/Mottie) commented on [10 May 2018, 05:59 BST](https://github.com/Mottie/GitHub-userscripts/issues/44#issuecomment-387952282 "2018-05-10T04:59:10Z - Replied by Github Reply Comments"):

It looks to me like the font *colour* indicates whether settings would have an effect when toggled, not whether the font is bold.  But the way it is right now seems perfect to me!

Y

[2018-05-10 16:01] Mottie commented on #44
Yeah sorry, I left the bold style on all checked values. I think it looks good too.

And good, I'm glad you think it's clearer. I'll go ahead and close this issue.

[2018-05-10 16:01] #44 closed

[2018-05-14 03:59] Mottie commented on #10
Closing this issue... I've added a new [known issues](https://github.com/Mottie/GitHub-userscripts/wiki/Known-issues#github-code-guides-are-broken-in-chrome) wiki page with an entry linking to the Chrome rendering bug.

[2018-05-14 03:59] #10 closed

[2018-05-18 21:51] darkred opened #46 "(GitHub Files Filter) make the toggle buttons change background color when clicked, not when mouseaway (especially when using 'GitHub Dark' userstyle)"
Regarding the 'GitHub Files' Filter script:
currently when clicking a toggle button, its background color changes after moving the mouse away, not when clicked.
I find it confusing, and difficult to tell whether I've pressed the button or depressed it, especially in conjunction with the 'GitHub Dark' userstyle
I believe it would be more practical if its background color was changed when clicked, i

[2018-05-19 04:07] Mottie commented on #46
Hi @darkred!

Yeah, the hover and selected background colors for those plain buttons are too similar. Even with GitHub-Dark turned off, it's subtle.

I was toying with the idea of making the selected button change the font somehow. I tried bold, but didn't like it much, then I made the selected button show small caps.

[code]

![](https://user-images.githubusercontent.com/136959/40264718-3782e60c-

[2018-05-19 16:54] darkred commented on #46
I like your idea changing capitalization as you toggle the filters a lot 👍

In addition to the above, here is a summary of my suggestions IMHO:

- The existing matching files counter that's displayed while hovering each filter button is great already: just the counter should appear quicker/almost instantly at hover - now (it seems like) it has some 0.5-1.0 sec delay.
- When the "all" filter is act

[2018-05-22 16:49] Mottie commented on #46
Hi @darkred!

I'm back! Good ideas!...

* I removed the 0.4s inherent animation delay on the tooltips that were set by GitHub.
* When "all" is selected, there is no hover styling on the buttons.
* Button background colors are actually set by GitHub and GitHub-Dark... I didn't want to change then within the userscript as that adds more code to detect if the theme is light or dark. Instead I added a

[2018-05-22 17:05] darkred commented on #46
Awesome, @Mottie !!! Thank you!

Just one thing:
with the new version,
the counter that appears as you hover the buttons,
(as well as the 'Toggle all buttons' text that appears as you hover the "ALL" button)
now stays there forever, until you click another filter:
![12345](https://user-images.githubusercontent.com/723651/40378058-2326e75e-5dfb-11e8-99b0-cf403b6824ed.gif)

Could you please make it

[2018-05-22 17:13] Mottie commented on #46
GitHub will show a tooltip when you have the element focused.

[2018-05-22 17:34] darkred commented on #46
OK, so, if there's no way to programmatically bypass this (I mean to "hide" every such tooltip after moving the mouse away from them -- that's the only thing I could think to solve this)
please feel free to close the issue 🙂
_(but I believe you'll agree with me that those persistent tooltips are rather confusing)._

[2018-05-22 17:51] Mottie commented on #46
Yeah, but I wouldn't want to programmically remove the focus because of people that use keyboard navigation to navigate the page... press the <kbd>Tab</kbd> to see what I mean.

I'll apply the hover styling to the button while focused as well...

[2018-05-22 17:52] #46 closed

[2018-05-22 18:01] darkred commented on #46
Thanks again for everything 👍

[2018-05-22 18:04] darkred commented on #46
You're absolute right 👍

Great! Thanks again for everything 👍

[2018-06-16 18:41] piotrex opened #48 "TOC Github userscript not compatible with Table of Contents for GitHub addon"
Just wanted note that TOC Github userscript isn't not compatible with [Table of Contents for GitHub](https://github.com/arthurhammer/github-toc) addon

[2018-06-16 20:01] Mottie commented on #48
Hi @piotrex!

Thanks for reporting this issue... I'll have it fixed ASAP.

[2018-06-16 20:03] #48 closed

[2018-06-22 05:20] Bluscream opened #49 "Userscript to auto enter repo name"
When having the "confirm with name of repo" dialog could you make it read and enter the name automatically?

![](https://i.imgur.com/vgwM301.png)

I feel safe enough with that click on a big red button and copy pasting becomes annoying. Especially whith a huge amount of repos you want to edit

[2018-06-22 13:16] Mottie commented on #49
Hi @Bluscream!

I don't know if I'd want to actually include this kind of userscript in this repo since it may cause some accidental deletions... but, I'll add it here for prosperity:

[code]

[2018-06-22 13:34] Mottie commented on #49
And... one more update to re-enable the delete button... done and actually tested this time! 😸

[2018-06-30 11:49] Bluscream commented on #49
Thanks, that one works just fine :3

[2018-06-30 11:53] Bluscream opened #50 "Steamcommunity auto show spoiler content"
On steam community pages there are spoilers

[code]
i know it's not github related but it would still neat if you could give me a script which makes them automatically readable

Without hover:
![grafik](https://user-images.githubusercontent.com/3318223/42124944-3a65fdcc-7c5c-11e8-867a-b1002073a1e4.png)
With hover:
![grafik](https://user-images.githubusercontent.com/3318223/42124945-3ffafa62-7c5c-1

[2018-06-30 17:54] Bluscream commented on #50
Thanks, now i know for the next time :)

I need it as userscript so that i can use it in the steam client not the browser

I installed that but it still shows spoilers

[2018-06-30 18:39] Mottie commented on #50
Ok, please share a link to a post with a spoiler so I can test the script.

[2018-06-30 18:45] Bluscream commented on #50
https://steamcommunity.com/id/bluscream/ has some spoilers

[2018-06-30 22:04] Mottie commented on #50
[code]

[2018-06-30 22:07] #50 closed

[2018-07-07 03:16] Bluscream opened #51 "Bulk edit repos"
Let me explain a little background, recently i was sued by some company and the police didn't tell me more than that it was about some "github repo". In order to be cooperative and increase my chances of the lawsuit being dropped i decided to not delete my account but rather get github premium and make all my repos private until i get information what repo this stuff is about. After purchasing pre

[2018-07-07 14:05] Mottie commented on #51
Hi @Bluscream!

I don't have any private repos, so I don't know the process of converting repos from private to public. I wouldn't think it would be difficult. I'm not sure how I can help.

[2018-07-07 14:21] Bluscream commented on #51
I can give you temporary access to my account if that helps :)

[2018-07-07 14:31] Mottie commented on #51
LOL, no don't do that.

I saw this documentation - https://help.github.com/articles/making-a-private-repository-public/

If you need a userscript to fill in the input, just give me the id of that input.

[2018-07-07 14:55] Bluscream commented on #51
Wouldn't that only make **1** repo public?

[2018-07-07 15:02] Mottie commented on #51
Ok, try this:

[code]

[2018-07-07 15:05] Mottie commented on #51
And yes, it will only work on one repo at a time... I haven't looked to see how to automate the action using the API as I don't have any way to test the code.

[2018-07-07 15:17] Bluscream commented on #51
What's your email?

[2018-07-31 14:22] clementperon opened #53 "Show Whitespace, enable by default"
Hi,

Is there an option to show the whitespace/tab characters by default ?

Thanks a lot and Thank you for your scripts !

Clement

[2018-07-31 14:28] Mottie commented on #53
Hi @clementperon!

They don't show by default because the script does *a lot* of DOM manipulation. And if you had a huge file, you wouldn't like me very much 😉.

I guess I could add an option to allow you to choose.

[2018-07-31 16:44] #53 closed

[2018-07-31 17:27] Mottie commented on #53
Added. Click the tamper/greasy monkey icon in the browser and select "Set GitHub Code White Space" to modify the option.

[2018-07-31 17:28] #51 closed

[2018-09-21 20:34] darkred opened #56 "(GitHub Toggle Issue Comments) "Cannot read property 'textContent' of null" in a specific PR page"
Using Chrome 69, TM 4.8.5850 beta, GitHub Toggle Issue Comments in 1.2.2.

The issue is that, in the specific following PR page (I couldn't find any other pages to recreate)
`https://github.com/sindresorhus/refined-github/pull/1526`
the script's filters are non-toggleable and disabled, and I get the following error in Chrome's Console:

[code]

referring to line 404 of the script which contains:
[

[2018-09-22 01:53] Mottie commented on #56
Hi @darkred!

I can't reproduce the error you're mentioning, but I can fortify the code to prevent that error from popping up. Please check the updated userscript to see if it's been fixed.

[2018-09-22 09:01] darkred commented on #56
Hey @Mottie

The issue is reproducible as follows:
with a fresh Chrome browser profile with only  TM 4.8.5850 beta and the script v1.2.2
load `https://github.com/sindresorhus/refined-github/pull/1526`
initially the script runs ok, i.e. the proper filters become bold,
but, when you click the `+1 Comments` filter
then you get the `Uncaught TypeError: Cannot read property 'textContent' of null` error

[2018-09-22 09:01] #56 closed

[2018-09-22 09:53] darkred opened #57 "(GitHub Toggle Issue Comments) In some issue pages, there's an unneeded "1 hidden (from hidden comments)" when 'GitHub Sort Reactions' is also installed"
Hi again dear @Mottie

Unfortunately I just found another issue:
in some issue pages I tried,
when both "GitHub Toggle Issue Comments" and "GitHub Sort Reactions" are installed,
there's a unneeded `1 hidden (from hidden comments)` under the first post

STR
- with a fresh Chrome browser profile with only TM 4.8.5850 beta and scripts GTIC 1.23 and GSR 0.2.6
- open either
`https://github.com/Microsof

[2018-09-22 16:33] darkred opened #58 "(GitHub Toggle Issue Comments) Feature suggestion: Add a toggle button to hide the filter buttons that have no content"
My suggestion is to add a toggle button to hide the filter buttons that have no content.
Depending on the page, the filters list becomes half or less,  leaving only the applicable filters visible.
<br/>

Example comparison:
<details>
 <summary>Before</summary>

![2018-09-22_192759](https://user-images.githubusercontent.com/723651/45919442-bde75f00-be9d-11e8-8bb7-61168507c07e.jpg)
</details>
<detai

[2018-09-23 02:40] #57 closed

[2018-09-23 02:42] Mottie commented on #58
Hi @darkred!

I ended up switching all the check marks to toggle buttons... and I added an additional one in the header to fulfill this enhancement request!

![github-issue-comments-active-items](https://user-images.githubusercontent.com/136959/45923503-fd1dac00-bead-11e8-8429-8cf4e7c9ba86.png)

[2018-09-23 02:44] Mottie commented on #57
Hi @darkred!

Yeah, the count was from the sort reactions block that was added by the sort reactions userscript. I actually ended up updating both the sort reactions and issue comments userscripts to fix this. Please let me know if you encounter any issues.

[2018-09-23 08:30] darkred commented on #58
Thank you so much! Magnificent!

[2018-09-23 08:37] darkred commented on #58
Thank you so much! Magnificent!!

---

Just one thing, please:

In this page here, the `+1 Comments` filter appears active (while only this script runs),
even though there's no +1 comment:

![2018-09-23_113325](https://user-images.githubusercontent.com/723651/45925779-b74ffa80-bf24-11e8-8c1a-e470c047077a.jpg)

Could you please make this filter get hidden too?

[2018-09-23 08:44] darkred commented on #57
It's working fine now. Thanks a lot !

[2018-09-23 12:27] Mottie commented on #58
The +1 comments was made to always show up. I did this because I didn't want to process the text of every comment when the script initializes. All the other filters look for a class name. Hmm, maybe it isn't a big deal if I just have it search for the first one...

[2018-09-24 02:11] Mottie commented on #58
Updated. I only tested it on a few pages, please let me know if you encounter any issues.

[2018-09-24 02:11] #58 closed

[2018-09-24 10:20] darkred commented on #58
Her, it works fine! Thanks again!

---

Yes, one last thing, please: the `Reactions` filter is supposed to always show up too,
like the '+1 Comments', right?
If yes, would you like please to you make it become hidden too? I'd be grateful !

I'm asking this, because, exactly like with the '+1 Comments' filter,
I find it confusing/distracting seeing it in the filter list, when there has no elements

[2018-09-24 11:38] Mottie commented on #58
Ok, you were right, I found & fixed the problem!

[2018-10-03 16:19] darkred opened #60 "(GitHub Toggle Issue Comments) Clicking on the avatars in the popup menu no longer toggles the comments from the relevant users"
Using Chrome 69/Firefox 62 (also in fresh profiles), TM 4.8.5850 beta, GitHub Toggle Issue Comments 1.3.2.

Unfortunately clicking on the avatars in the popup menu no longer toggles the comments from the relevant users.

There's no error in Console.

[2018-10-05 13:15] Mottie commented on #60
Thanks for reporting this issue! Fixed in https://github.com/Mottie/GitHub-userscripts/commit/8b65f6b204034860f8fa41473927425c84eeedb7.

[2018-10-05 13:15] #60 closed

[2018-10-05 14:04] darkred commented on #60
First of all thank you.

Now it works ok in many pages I tested.
In one page though https://github.com/hayaku/hayaku/issues/303
with the new version, the users list in the popup menu
appears duplicated 2 times (shown with the red arrows) :
![2018-10-05_165914](https://user-images.githubusercontent.com/723651/46539884-647d2800-c8c0-11e8-808a-23724e4523d7.jpg) ![2018-10-05_165959](https://user-image

[2018-10-05 14:17] darkred commented on #60
FYI, the above issue page `https://github.com/hayaku/hayaku/issues/303`
has 6 "x similar comments" and 1 "y hidden comments",
all because of this new GitHub feature: [Hiding repeat comments](https://blog.github.com/changelog/2018-09-24-hiding-repeat-comments/) .

On the other hand, the new issue I describe, i.e. the duplicated users list, doesn't occur in e.g. `https://github.com/isaacs/github/iss

[2018-10-06 03:56] Mottie commented on #60
Fixed. I added a hide similar comments toggle as well.

[2018-10-06 07:46] darkred commented on #60
Awesome! Thanks 👍

[2018-10-21 23:09] CollinChaffin opened #62 "Enhancement/new script request: "Github-Releases?""
Hey Rob!

So I spent some time digging through the darned GH site code (my head hurts now) and after taking your rawlinks script as a guide (JS not my primary lang) began and fairly quickly now feeling defeated on one of those things I've been putting off it seems forever that seems to still be missing from any available GH enhancements out there.

From talking to others I know I'm not the only on

[2018-10-22 03:44] Mottie commented on #62
Yes, nice idea indeed!

It may not be too difficult to implement since GitHub names the download file based on the api link:

| URL | Name of downloaded file | Details |
|------|--------------------------|---------|
| https://api.github.com/repos/Mottie/GitHub-userscripts/zipball/master | Mottie-GitHub-userscripts-v1.0.213-0-gaaafb00.zip | user + repo + #? + "g" + SHA of last commit |
| https://ap

[2018-10-22 11:55] Mottie commented on #62
Please test out the script - https://github.com/Mottie/GitHub-userscripts/wiki/GitHub-download-zip

[2018-10-22 12:40] Bluscream commented on #62
I hoped so hard that this issue was about releases download stats :x

[2018-10-23 20:45] CollinChaffin commented on #62
Holy cow Rob!  Just grabbed it and will test it today/tonight.  I'm blown away you got something to test so fast.

[2018-10-23 22:19] CollinChaffin commented on #62
Just had a recall good idea of how to address different release types #s etc. if you ever did want to try #2 above......

Underneath the newly-renovated main repo ZIP download, add (through look-ahead API like rawlinks):
1. One new table ROW per release.  Split row into columns for release types. So, a release 1.01 that has one zip and one tgz will have a single button under zip spit into 2 for zi

[2018-10-23 22:49] Mottie commented on #62
The userscript I created is using the standard API. It isn't renaming the files at all. I don't think we can modify the file name once the browser download kicks in, and I'm not sure if it is even possible to use the API to change the file name. As far as I know, GitHub only serves up ZIP and TGZ compressed files. I've never any other file type being served - am I missing something?

Is there a ca

[2018-10-24 02:35] CollinChaffin commented on #62
Hey sorry for the poor expanation - here's an example of what I mean:

`https://github.com/Maximus5/ConEmu/releases`

and if you then query the API:

`https://api.github.com/repos/Maximus5/ConEmu/tags`

According to what I've been reading on:

`https://developer.github.com/v3/repos/releases/#get-a-single-release-asset`

So that most recent release of ConEmu as example has 2 executable installers,

[2018-10-24 03:28] Mottie commented on #62
Hmm, I'm not sure how well that would work. If you look at GitHub's [hub releases](https://github.com/github/hub/releases), you'll see they have 11 different downloadable files. Luckily, the [old API provides those link urls](https://api.github.com/repos/github/hub/releases) in the `browser_download_url` value. I think it might look better with a dropdown instead of including all the links. Maybe

[2018-10-24 17:54] CollinChaffin commented on #62
Doh!  Not sure where my brain was but yes a dropdown absolutely is the logical choice and looks awesome in your example!  The one thing I would ask you to (re)consider that I just noticed using the enhanced new ZIP download on a repo was that one previously-used naming element seems to have actually gotten dropped with all the new additions - being the [BRANCH]!  Don't you agree that needs to be p

[2018-10-28 22:56] nathgit opened #63 "How do you use the "Github custom hotkeys" script on a chromebook?"
Do you have to use F1 to open the settings? If so is there another way to change it because F1 (Search + 1) opens chromebook help on a chromebook.

[2018-10-28 22:59] #63 closed

[2018-11-16 00:34] Mottie commented on #62
Forgot to add this to my to-do list... I'll get to this soon!

[2018-11-25 15:56] chenshengzhi opened #64 "`Github Costom Hotkey` do not work with `safari 12.0.1`"
`Github Costom Hotkey` do not work with `safari 12.0.1`

[2018-11-25 17:16] Mottie commented on #64
Hi @chenshengzhi!

All the custom hotkey script does is adds a link with a data-hotkey attribute set with your customizations, e.g.:

[code]

WIth the above example, pressing <kbd>g</kbd> then <kbd>p</kbd> will activate GitHub's built-in script to go to the link's `href` which is the repo's pulse page.

If this is a specific problem in Safari, then try some of GitHub's other hotkeys (press <kbd>?<

[2018-11-26 01:39] Neil20170223 commented on #64
Thank you for your reply!

Sorry, I did not describe the situation clearly.
![20181126093257](https://user-images.githubusercontent.com/28893316/48988078-55975100-f15e-11e8-8ef3-4b775ea81755.png)
1. The setting entry do not showing when i tap my avatar.
2. I try install another scrip `GitHub custom navigation`, but failed again.
3. `TamperMonkey` show they are running.
![20181126093605](https://us

[2018-11-28 15:53] chenshengzhi commented on #64
I test using script:
[code]
I see the log in `Google`, but not in `Github`.
@Mottie can you help me? Thanks!

[2018-11-28 16:01] Mottie commented on #64
I don't own any apple products, so I'm not able to use safari... either way, this sounds like it's an issue with Tampermonkey. Please report the problem here: https://github.com/Tampermonkey/tampermonkey/issues

[2018-11-28 16:03] chenshengzhi commented on #64
OK, Thank you very much.

[2018-11-28 16:05] #64 closed

[2018-12-20 13:31] animatedantmo opened #65 "(GitHub code show whitespace) shows space character on empty lines?"
I am using version Chrome Version 71.0.3578.98, 1.2.4 of the GitHub code show whitespace script and the split view for diffs. I am not sure if this is how things always were displayed but I noticed that each line is being prefixed with a white space character. It even seems to throw off the display of lines that only contain line breaks.

This is the scss file as displayed with the script

![scree

[2018-12-21 01:32] Mottie commented on #65
Hi @animatedantmo!

It looks like a code wrap style or script is being applied. When the code wraps, the new line will start at the beginning of the line. If not, then maybe it is this userscript's fault because it's adding content to make the whitespace visible.

When I have the [code wrap toggle](https://github.com/StylishThemes/GitHub-Dark-Script#toggles) script running, I'm seeing the same thi

[2018-12-21 04:33] Mottie commented on #65
Hmm, I'm not sure you're seeing something different from me.

Previously... on the diff views, GitHub would add an extra space (or two?) to every line to allow space for the `+` and `-` in the diff. Now, they add the indicator to a pseudo element so people can copy/paste the code without the indicators.

I'm no longer seeing a leading space, or a space next to the `+` like in your screenshot.

![]

[2018-12-21 04:47] animatedantmo commented on #65
Ive added added a different white space rendering script to debug a bit and that leading whitespace is still there. But without the odd wrapping if that helps

https://github.com/glebm/render-whitespace-on-github

<img width="334" alt="screen shot 2018-12-20 at 11 45 59 pm" src="https://user-images.githubusercontent.com/11149609/50325231-a413e300-04b1-11e9-9609-666306e99e94.png">

[2018-12-31 14:55] bmaschio opened #66 "How to include the copy code script into my md file"
Hi there

Sorry for the silly question but how do you include the code into my md file?

I have tried
[code]
regards
Balint

[2019-01-01 14:20] bmaschio commented on #66
@Mottie

Thank you and happy 2019

[2019-01-04 16:48] salmanulfarzy opened #67 "GitHub issue show status: Implemented by GitHub"
https://blog.github.com/changelog/2019-01-04-sticky-coversation-headers/

[2019-01-11 09:00] #67 closed

[2019-01-11 12:48] Mottie commented on #67
Hi @salmanulfarzy!

Thanks! I'll add a deprecated note on that script soon.

[2019-01-16 00:47] hckr opened #69 "GitHub table of contents not working in Firefox with Greasemonkey"
The following shows up in Firefox's developer console after installation of your "GitHub table of contents" userscript in Greasemonkey:
![screenshot_20190116_014216](https://user-images.githubusercontent.com/1078650/51219250-4481e980-1930-11e9-8a02-851a27eb48ff.png)

That's weird, because there is a `@grant GM_addStyle` in the code...

[2019-01-16 01:36] hckr commented on #69
Wow, thanks for the quick reply.

:disappointed:

If it solves the issue, it definetely will be helpful for people who'd like to use your userscripts. I don't think it's worth to fight with Greasemonkey developers :stuck_out_tongue_closed_eyes:

[2019-01-30 20:06] darkred opened #70 "(GitHub Custom Navigation) the Greasyfork mirror version was not updated after my commit"
Hi @Mottie

I just pushed this commit https://github.com/Mottie/GitHub-userscripts/commit/a3e51347dcc0e9884cc95e5f352e281211346442 in order to update the Blog site URL ( github.blog )
(bumping the script version of course)
but unfortunately the script was not updated in [GreasyFork](https://greasyfork.org/scripts/20830).

Have you not set up a webhook on GitHub for GF ?
Just wanted to inform you.

[2019-01-31 00:05] Mottie commented on #70
Hi @darkred!

Yes, there is a webhook in place. I believe it won't update unless the package.json version has been modified. I'll take care of it.

[2019-02-01 09:03] lonix1 opened #71 "Feature request: popup preview"
Cool idea: when hovering over various links, a little popup shows a preview of that page.

Github already has this functionality for some links, e.g. hovering over an issue shows the issues first few sentences.

However there are many places where this functionality does not exist, and would be very helpful (so you don't have to open it and waste time).

Some places this could be useful:
- When ho

[2019-02-01 09:39] Bluscream commented on #71
https://justineo.github.io/github-hovercard/

[2019-02-01 10:44] lonix1 commented on #71
Very nice, thanks!

I stopped using brower plugins for individual websites because it's neater/easier to maintain userscripts for dozens of sites than bog down the browser with plugins. But in this case it's very useful.

[2019-02-01 17:24] darkred commented on #70
It's updated now. 👍

[2019-02-01 17:24] #70 closed

[2019-02-06 17:36] CollinChaffin commented on #62
Hey @Mottie I just saw the available update to this "Github Download Zip" script and installed it, and despite it working as before in the commits links, for some reason now on the most important (to me) main repo page download button ZIP, it no longer is adding the icon nor changing the link so the default `-master.zip` downloads.  With this being the main link others probably have gotten spoiled

[2019-02-06 18:23] CollinChaffin opened #72 "Github Download Zip stopped working due to GH changes"
Hey @Mottie I just saw the available update to this "Github Download Zip" script and installed it, and despite it working as before in the commits links, for some reason now on the most important (to me) main repo page download button ZIP, it no longer is adding the icon nor changing the link so the default `-master.zip` downloads. With this being the main link others probably have gotten spoiled

[2019-02-06 18:59] CollinChaffin commented on #72
PR #73 Created

[2019-02-06 19:37] jerone opened #74 "(GitHub download zip) multiple buttons on navigating back in commits"
I navigate a lot on GitHub, in commits for example. But when navigating back, your "GitHub download zip" userscript appends another download button.

Steps to reproduce:
1. Open commits: https://github.com/Mottie/GitHub-userscripts/commits/master
2. Navigate to an older page.
3. Go back to the previous page by using the back button in your browser.
4. See a second download button appear.

![image]

[2019-02-07 00:11] Mottie commented on #74
Hi @jerone!

Thanks for letting me know, I'll look into this ASAP.

[2019-02-07 00:11] Mottie commented on #72
Awesome, thanks!

[2019-02-07 00:11] #72 closed

[2019-02-09 16:35] Bluscream opened #75 "Reverse t.co search"
Hey, whenever I look through my traffic stats I find a few t.co links that I want know about[1]
After searching for how to reverse lookup a t.co link I found [this](https://stackoverflow.com/a/50314680/10881866) stackoverflow answer which suggests a google search.
I tried it and got an actual result [2]
That seems promising enough that it could be possible to make a userscript for that so basicall

[2019-02-12 02:45] Mottie commented on #75
Hi @Bluscream!

Hmm, it should be possible. I found a [URL Shortener Unshortener](https://greasyfork.org/en/scripts/5359-url-shortener-unshortener) userscript that would resolve the url, but then an extra step of changing (or adding) a reverse google search would need to be done.

Ideally, the script would also perform the google search and return the top match. Sadly, I'm really short on free tim

[2019-02-12 02:46] Mottie commented on #74
Ugh, sorry! I've been short on time. I'll try to find some time to work on this on the weekend.

[2019-02-12 03:24] Bluscream commented on #75
Thanks for your response, im not in a hurry. Its more of a "nice to have" ^^

[2019-02-12 20:50] jerone commented on #74
@Mottie No hurry.

[2019-02-17 00:52] k-choi opened #76 "github-files-filter.user.js not working for md"
it doesn't correctly hide/show md files.

[2019-02-17 02:27] Mottie commented on #76
Hi @k-choi!

Thanks for reporting this issue. I'll get it fixed soon.

[2019-02-17 03:45] Mottie commented on #65
Is this still an issue?

[2019-02-17 04:40] #69 closed

[2019-02-17 04:40] #74 closed

[2019-02-17 04:40] #76 closed

[2019-02-17 04:41] Mottie commented on #69
The TOC userscript is now compatible with GM4.

[2019-02-17 04:42] Mottie commented on #74
Whew. All done! 😸

[2019-02-17 04:43] #66 closed

[2019-02-17 04:43] Mottie commented on #62
Bah, I forgot about this enhancement again 😿

[2019-02-17 04:44] k-choi commented on #76
Wow, that was quick! Thanks!

[2019-02-17 04:47] k-choi opened #77 "github-files-filter.user.js not working after 'go back' from a next page"
Filters don't work when you open a new page and then come back.

Steps to reproduce:
1. after setting up a filter on a repo page,
1. click a file to see the contents,
1. and come back to the repo page using 'go back'
1. filters would stop working

[2019-02-17 04:48] Mottie commented on #77
Hi @k-choi!

Thanks for reporting this problem. I'll take a look at this soon.

[2019-02-17 19:18] animatedantmo commented on #65
Yes, looks like this is still happening with version 1.2.6

This is what the "GitHub Code Show Whitespace" script displays

<img width="310" alt="odd" src="https://user-images.githubusercontent.com/11149609/52917859-0759a000-32be-11e9-8a0c-4a5a3696c32e.png">

This is what the "Render Whitespace on GitHub" script displays

<img width="293" alt="ok" src="https://user-images.githubusercontent.com/111

[2019-02-17 21:37] Mottie commented on #65
Please share a link to the page where you see this issue. For me, the carriage returns in the JS files in this repo are not adding an extra CR that I see in the screenshots.

[2019-02-18 00:09] animatedantmo commented on #65
The repo is private but I went ahead and setup a shell angular project with a PR that exhibits the issue. Please take a look at

https://github.com/animatedantmo/test/pull/1/files

[2019-02-18 01:01] #77 closed

[2019-02-18 01:04] k-choi commented on #77
Thank you so much!

[2019-02-18 01:11] #65 closed

[2019-02-18 01:12] Mottie commented on #65
Ok, so it looks like GitHub is adding an extra `<br>` inside the code block. I just hid it and it looks good now. Hopefully that doesn't mess up anything else.

[2019-02-21 06:18] CollinChaffin opened #78 "Raw links no longer working"
Hi @Mottie Rob!

Hey when you get a min could you take a look at the raw links userscript as it suddenly is no longer working.  I'm not sure if the element id changed like recently happened with the other one but my CSS/Ajax skills are admittedly not quite what I wish they were or I would have already put my finger on it.  This one is definitely in the top 3 believe it or not of the ones I rely on

[2019-02-21 14:00] Mottie commented on #78
Hi @CollinChaffin!

It's a tiny bit more complicated than I thought. I almost finished work on it this morning, but now I gotta run. I'll get a fix out later tonight.

[2019-02-21 15:41] hckr commented on #69
Great, thanks!

[2019-02-21 21:48] CollinChaffin commented on #78
No prob @Mottie I really appreciate you looking at it so quickly and I'm sure you'll wrap it up soon enough!

[2019-02-23 16:08] Mottie commented on #78
Fixed in https://github.com/Mottie/GitHub-userscripts/commit/ce7294703f8c963ef4a1a89c5b6e1c988762a328.

[2019-02-23 16:08] #78 closed

[2019-02-23 16:12] Mottie commented on #62
I looked at the latest request and I don't think it's possible. This userscript is essentially pointing to urls of existing end-points, and there isn't any way I can think of to intercept and rename the downloaded file.

As for creating a select, I haven't gotten around to it yet. Sorry 😞

[2019-02-23 16:16] CollinChaffin commented on #78
Confirmed looks great thanks so much Rob!

[2019-03-08 21:06] oueV opened #79 "[issue]-[GitHub collapse markdown] Contentless-headers are collapsible"
Many Github repo owner seems to systematically add an H3 header (###) to all of their hyperlinks..
While this has no particular impact for those not using the "Github collapse markdown" userscript,
it does for all who does. Since any header are made collapsible by this userscript, even without anything content to collapse are made collapsible as well..

I have to admit this is not a bug/issue of t

[2019-03-09 02:33] Mottie commented on #79
Hi @oueV!

I threw together this modification; please test it out and let me know if it's working as expected:

[code]

[2019-03-30 04:33] #79 closed

[2019-04-18 06:45] oueV commented on #79
Hi @Mottie
Sorry for the so late reply !
Saw your fix. Tested. All seems perfect here ! Thanks !!

[2019-05-05 05:23] CollinChaffin opened #81 "Github Download Zip Truncation BUG / 404"
Not sure if this is a recent change, but recently have hit instances where weird truncation is occurring due to branch names, which in turn causes an erroneous 404 and failure.

Here is one example I just hit, where disabling the userscript results in the branch zip download success:
`https://github.com/hoppfrosch/Clipjump/tree/hoppfrosch/feature/class_clipjumpdb`

With the Zip userscript disabled

[2019-05-05 15:34] #62 closed

[2019-05-05 15:34] #81 closed

[2019-05-05 15:35] Mottie commented on #62
Finally added!

[2019-05-05 15:37] Mottie commented on #81
Hi @CollinChaffin!

Thanks for reporting this issue. I was grabbing the truncated text. It's been fixed in the latest release.

[2019-05-05 17:10] CollinChaffin commented on #81
Hi @Mottie Rob!

Thanks so much for looking at this so quickly!  I just tested it and as cool as the new addition of the latest release at the bottom of the zip dropdown is, I think there is a new bug related to this addition as well as more importantly the main repo ZIP link seems to now no longer work on any repo, and seems to produce this redirect URL (again adding this weird legacy.zip into th

[2019-05-05 17:25] Mottie commented on #81
Hi!

Hmm, yeah. I guess I need to find a better source to get the current branch.

As for the lastest release files dropdown, that should be fixed in a release I just made less than an hour ago.

[2019-05-05 17:45] Mottie commented on #81
Ok, try it now.

[2019-05-19 20:04] darkred opened #83 "('GitHub Search Autocomplete' with 'GitHub Dark userstyle') the popup becomes transparent and the text on its left remains black"
* **Browser**: Chrome 74.0.3729.157/Firefox 66.0.5, Stylus 1.5.3, GitHub Dark 1.21.57
* **Operating System**:Windows 10
* **Link to page with the issue**: e.g. https://github.com/StylishThemes/GitHub-Dark/issues
* **Screenshot**: (comparison)
with the userstyle:
![2019-05-19_225356](https://user-images.githubusercontent.com/723651/57987368-29afb500-7a89-11e9-8f0b-5c83e857e6a3.jpg)
without the user

[2019-05-19 21:42] Mottie commented on #83
Hi @darkred!

Thanks for letting me know. GitHub has been changing a lot of class names. I haven't been keeping track, so I appreciate the report!

[2019-05-19 21:43] #83 closed

[2019-05-19 21:46] Mottie commented on #83
I only "partially" fixed it in that the library being used doesn't allow you to customize the highlighted class name, so it's stuck with the default blue color, for now. When & if I find the time & motivation, I'll replace the jQuery dependent autocomplete library with a plain JS one that'll hopefully allow custom class names.

[2019-05-20 14:00] darkred commented on #83
Thank you for your quick response 🙂

[2019-05-23 22:59] darkred opened #84 "(GitHub Issue Comments) An empty image placeholder is displayed in the OP when hiding +1 comments"
STR
With Chrome 74/Firefox 67 and only Tampermonkey beta 4.9.5941 and 'GitHub Issue Comments' v1.3.7 :
- open https://github.com/StylishThemes/GitHub-Dark/issues/946
- toggle the '+1 Comments' in the script's menu
- check the bottom of the OP and notice the empty placeholder:
![2019-05-24_014838](https://user-images.githubusercontent.com/723651/58291481-37857300-7dc6-11e9-969f-f193851e2c38.jpg)

C

[2019-05-24 01:28] Mottie commented on #84
Hi @darkred!

It looks like GitHub moved their emoji assets. As for the +1 comments showing up... it seems intermittent. Sometimes I see it inactive and other times it's active. I'll check into it when I have time this weekend.

[2019-05-24 01:28] Mottie commented on #84
Oops

[2019-06-02 18:54] CollinChaffin opened #85 "Custom Nav: (Feature Request) Allow shifting right to provide better Octotree compatibility"
Hey @Mottie Rob!

For those using Octotree, the pinned left content bar almost completely overlaps the GH search box in the custom NAV bar, even when used with the very handy GH Fixed Header style.

Would it be possible to, either via a new static option or a custom CSS option, to have the custom NAV style/userscript provide the mechanism to right-shift the entire custom nav bar items (up to the r

[2019-06-02 20:22] Mottie commented on #85
Hi @CollinChaffin!

Hmm, I have Octotree installed, but I'm not seeing the overlap you're describing (while pinned).

![2019-06-02 15_20_18-Custom Nav_ (Feature Request) Allow shifting right to provide better Octotree co](https://user-images.githubusercontent.com/136959/58766899-fb7eaa80-8549-11e9-8e5d-627fcef79027.png)

I did see that with GitHub Dark turned off, all of the svg icons were too dar

[2019-06-02 23:53] Mottie commented on #85
Ok, I found the issue you're describing. It's a bit complicated. Octotree is adding a `padding-left` to the header when the side panel is pinned and resized; but it completely removes that padding once the side panel width equals the margin left value (GitHub sets the margin to `auto`). Because of this, the fixed header (applied by the [GitHub-FixedHeader](https://github.com/StylishThemes/GitHub-F

[2019-06-03 00:57] Mottie commented on #85
Try this userscript, for now:

[code]

[2019-06-03 10:35] CollinChaffin commented on #85
Hey @Mottie Rob!

This is awesome I'll work to test it now - thanks!  I should have known better and added that this is also with the Github-Wide userscript in use (along with GH dark you mentioned and most of yours).  I recently had to do several fixes and still have a PR open with GH wide due to Octotree overlap issues when using that script (which I no longer suffer from) and I believe their la

[2019-06-03 13:28] CollinChaffin commented on #85
Quick update I think my terminology was off the "shifting" is working perfectly albeit I have to scroll a bit to see the shift occur.  But, the shift then loses the right-hand avatar/etc.  "Squeezing" to reduce the middle blank space is a more accurate description of what is needed.

I have confirmed my last guess is correct - 100% of this is actually again due to that GH wide userscript.  Without

[2019-06-03 13:46] Mottie commented on #85
LOL, I never bothered making a "wide" style because there were already so many... that, and I kinda like keeping the width of the content fixed - at least for GitHub. I can look into it when I get a chance.

[2019-06-04 15:11] CollinChaffin commented on #85
I have yet to see a GH wide style that actually works well despite all the commonly used styles and extensions other than your styles/scripts which, even with just about all of them together plus octotree/refinedGH/others, work well without issues.  Even if you ever get a few min to evaluate Octotree (since they still do have an open-source offering) to try to assist that project on the best ways

[2019-06-07 06:53] malnvenshorn opened #86 "[GithubCodeFolding] Not working anymore"
It seems Github changed something and because if that the code folding script doesn't work anymore.

[2019-06-07 12:32] Mottie commented on #86
Hi @malnvenshorn!

Thanks for letting me know! It looks like a few other userscripts were broken in their update. I'll have it fixed soon.

[2019-06-07 16:41] #86 closed

[2019-06-11 08:17] malnvenshorn opened #87 "[ToggleExpanders] Shift+click not working when comparing branches/tags"
At the moment toggling only toggling with ctrl+shift+click is working when comparing branches/tags, e.g. https://github.com/torvalds/linux/compare/v5.2-rc1...v5.2-rc2

Consider this change to enable shift+click within that view

[code]

It would also be great to be able to toggle file diffs.

[2019-06-13 13:42] Mottie commented on #87
Hi @malnvenshorn!

That sounds reasonable, I'll look into it!

[2019-06-13 15:27] #87 closed

[2019-06-16 04:10] Mottie commented on #85
Let me know what you think of this userscript... it slides __all__ content to the right when the Octotree side panel opens. I did this in case someone with a narrow screen  still wanted to see the content which would normally end up under the side panel.

[code]

[2019-06-16 18:19] Bluscream opened #88 "[Request] Update fork button"
![](https://i.imgur.com/GPJNIhS.png)

Something like that and it should point to
[code]

[2019-06-17 07:14] SmartManoj opened #89 "[Feature Request] Hotkey for Insert Code"
Hotkey for Insert Code  like Stackoverflow
Ctrl K for code
Ctrl L for link

[2019-06-17 12:07] Mottie commented on #89
Hi @SmartManoj!

It looks like <kbd>Ctrl</kbd>+<kbd>k</kbd> is already defined as a hotkey to insert a link. So, I can provide you with a simple very specific alternative to get that to work for you.

[code]

In case you didn't notice, the [custom hotkey script](https://github.com/Mottie/GitHub-userscripts/wiki/GitHub-custom-hotkeys) allows you to add custom hotkeys that change the url, so it woul

[2019-06-17 12:19] Mottie commented on #88
Hi @Bluscream!

I haven't tested it, but are you saying that just linking to

[code]

Will trigger an update fork? And you want a new "Update fork" link added in the same place as in the screenshot?

[2019-06-17 12:19] SmartManoj commented on #89
Off topic:
Why would you use all openuserjs , GreasyFork , github and how you maintain them ?

[2019-06-17 12:24] Mottie commented on #89
Most users of userscripts would search OpenUserJs & GreasyFork for scripts. And both of those sites allow using GitHub commit hooks that auto-update the scripts on their site, so maintenance is minimal. Although, I did notice that after renaming one script, I now have to manually update it on OpenUserJs.

[2019-06-17 12:30] SmartManoj commented on #89
How would you test the script and host it in github.
I am currently doing like [this](https://stackoverflow.com/a/56294467).

[2019-06-17 12:49] Mottie commented on #89
I guess I'm old school, I copy-paste. I don't think everything needs to automated.

[2019-06-17 13:13] Bluscream commented on #88
Yes and yes, the two existing buttons will only create a pr from fork to source not from source to fork

[2019-06-18 03:44] Mottie commented on #88
Please test out this userscript, let me know if you encounter any issues with weird branch names, or anything:

[code]

[2019-06-19 04:21] SmartManoj commented on #89
<ctrl+l> goes to address bar

[2019-06-19 12:08] Bluscream commented on #88
It doesn't show the button on https://github.com/Bluscream/VRCModLoader

[2019-06-19 13:22] Mottie commented on #88
Oh, it's only showing when you have "commits behind". I didn't think you'd need to update from upstream if you're "commits ahead"; but it's a comparison, so maybe?

[2019-06-19 21:12] Bluscream commented on #88
Ah okay, well then i'm going to test it next time i am behind :)

[2019-06-22 01:32] Mottie commented on #84
The +1 entry seems to consistently show up now. I didn't change anything, but now I can't reproduce the problem.

[2019-06-22 07:31] darkred commented on #84
Yes, it shows up consistently, I confirm.

Unofortunately the other issue still occurs:

[2019-06-24 15:44] Mottie commented on #88
I've updated [the userscript](https://github.com/Mottie/GitHub-userscripts/issues/88#issuecomment-502933879). It wasn't checking for the update on the master branch properly.

[2019-06-25 11:47] NoamDev opened #90 "How to install?"
I do not understand how to install this wonderful tool..
Can you help?

[2019-06-25 12:22] jerone commented on #90
https://github.com/Mottie/GitHub-userscripts#installation

[2019-07-02 20:30] jerone opened #91 "(GitHub code show whitespace) button alignment in pr files"
Button [GitHub code show whitespace](https://github.com/Mottie/GitHub-userscripts/wiki/GitHub-code-show-whitespace) (1.2.9) is not playing nice in PR files:

![image](https://user-images.githubusercontent.com/55841/60544285-c320e680-9d18-11e9-98a5-d0c9e3128c7a.png)

Keep up the great work.

[2019-07-02 21:41] Mottie commented on #91
Hi @jerone!

Thanks for letting me know. I'll have it fixed ASAP!

[2019-07-02 21:51] #91 closed

[2019-07-03 07:33] jerone commented on #91
Thanks @Mottie. Fixed perfectly as always.

[2019-07-06 02:40] SmartManoj commented on #89
Ctrl L goes to address bar sometimes

[2019-07-06 14:20] Mottie commented on #89
This userscript uses GitHub's method to apply hotkeys - meaning all this userscript does is adds a `hotkey="x"` to a link.

I don't think their code overrides browser specific shortcuts. I have <kbd>F1</kbd> set to open the hotkeys settings modal (by default), but lately I haven't gotten it to do anything but open the Google Chrome help page.

[2019-07-06 14:20] #89 closed

[2019-07-06 14:24] Mottie commented on #90
Hi @NoamDev!

I hope you've figured out how to install and use these scripts. If you need further assistance, please feel free to continue the conversation in this issue. I'm going to close it, but that doesn't mean I won't respond.

[2019-07-06 14:24] #90 closed

[2019-07-06 15:21] Bluscream commented on #88
It works fine

[2019-07-06 15:22] Bluscream commented on #88
One thing, could it fill the PR name automatically?

[2019-07-06 15:23] Mottie commented on #88
Update it with what name?

[2019-07-06 15:26] SmartManoj commented on #89
But sometimes only

[2019-07-06 16:30] Bluscream commented on #88
Maybe something like "Update fork" or "Merge branch <source>/<branch> into <fork>/<branch>"

[2019-07-09 14:02] SmartManoj opened #92 "Tool to comment text"
Tool to comment selected text in Toolbar

[2019-07-09 14:22] Mottie commented on #92
Hi @SmartManoj!

Please be more specific. What do you mean by "comment selected text"? Maybe you want to use <kbd>r</kbd>? It's a keyboard shortcut to copy the selected text into a new comment as a quote.

[2019-07-09 14:28] SmartManoj commented on #92
<kbd>r</kbd> not working

[2019-07-09 14:28] SmartManoj commented on #92
kbd tag also missing in toolbar

[2019-07-09 14:30] SmartManoj commented on #92
Also classify the userscripts as categories in ReadMe

[2019-07-09 15:03] Mottie commented on #92
Almost all of those suggestions have already been implemented in [GitHub Comment Enhancer](https://github.com/jerone/UserScripts/tree/master/Github_Comment_Enhancer) - it's been deprecated, but I believe it still works.

They are all classified, sort of, on the [main wiki page](https://github.com/Mottie/GitHub-userscripts/wiki).

<kbd>r</kbd> is GitHub's built-in shortcut. It's working for me in C

[2019-07-09 15:24] SmartManoj commented on #92
Then How to type r

[2019-07-09 15:27] SmartManoj commented on #92
I meant html comments

[2019-07-16 01:36] SmartManoj opened #93 "Auto filling numbering list"
1. one
two

[2019-07-16 01:40] SmartManoj commented on #93
Is it possible to auto number ?

[2019-07-16 01:57] Mottie commented on #93
Hi @SmartManoj!

Auto number what? If you're using markdown, then start with any number followed by a period:

[code]

1. Entry one
1. Entry two
1. The numbers will become sequential

[2019-07-16 02:00] SmartManoj commented on #93
We have to 1.  for all

[2019-07-16 02:08] Mottie commented on #93
No, any number, but start with one:

[code]

1. Entry one
4565. Entry two
6347357. Entry three

You'll start with the number you enter first:

[code]

42. Entry one
4565. Entry two
6347357. Entry three

[2019-07-16 02:10] Mottie commented on #93
See https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#lists

[2019-07-16 02:12] SmartManoj commented on #93
We have to enter <number>. for all

[2019-07-16 02:19] Mottie commented on #93
Yes. Or, a right parenthesis `)`. That is how Markdown defines ordered lists.

Try out this tutorial - https://commonmark.org/help/tutorial/06-lists.html

The https://commonmark.org/ website also includes the spec and a forum to discuss markdown.

[2019-07-16 02:21] SmartManoj commented on #93
When Press enter, auto fill the next number

[2019-07-16 02:40] SmartManoj commented on #89
Works Fine for me

[2019-07-16 02:41] SmartManoj commented on #89
[code]

[2019-07-16 05:29] SmartManoj commented on #93
Like Shift Enter in Stackoverflow

[2019-07-16 21:59] douglasg14b opened #94 "Cannot use issue-colorpicker in GraseMonkey "GM_addStyle is not defined""
Tittle pretty much covers it. Can't use `GM_addStyle` in greasemonkey 4 as it's been deprecated...

[2019-07-17 00:20] Mottie commented on #94
Hi @douglasg14b!

I *may* look into this (see https://github.com/Mottie/GitHub-userscripts/issues/29#issuecomment-354628733), but I've been leaning toward not supporting GM4. The `GM_` commands in GM4 are not deprecated, **support was completely dropped**. Yes, I understand that a major version bump implies that there are breaking changes, but to implement that change without warning or discussion

[2019-07-17 00:42] douglasg14b commented on #94
Yeah.... that's not nice of them at all.

A lot of my personal user-scripts completely broke when I updated to GS 4 in my browser. And I've all but abandoned my library of them because of it.

I didn't even realize I could get TamperMonkey for Firefox :o Could have sworn it used to just be GM.

[2019-07-23 11:45] jerone opened #95 "(GitHub code colors) change syntax"
Hi Mottie. Love your [GitHub code colors](https://github.com/Mottie/GitHub-userscripts/wiki/GitHub-code-colors) userscript!

Wondering if it would be possible to add a toggle event to the color preview for changing the color syntax. I'm imagining that everything the color preview is pressed, the color syntax changes to another syntax. For example from hex to rgba, click again to hsl, etc...

[2019-07-23 12:29] Mottie commented on #95
Hi @jerone!

What if we instead add a tooltip with all the color syntax alternatives? That'd be way easier than messing with the DOM and including syntax highlighting.

[2019-07-23 12:32] jerone commented on #95
I should have specified; my main reason was to copy another syntax.

[2019-07-23 12:34] Mottie commented on #95
Ahhh, ok. Let me look into it.

[2019-07-23 22:32] Mottie commented on #95
So, I found a nice color conversion library. I was thinking it might be nice to include other colors like hwb, cmyk, etc. What do you think?

![](https://user-images.githubusercontent.com/136959/61751952-adc73700-ad6f-11e9-8b11-d9b117cb22b4.png)

There are a bunch of other color formats, but I think that might be too much:

- hsv
- xyz
- lab
- lch
- ansi16
- ansi256
- hcg

[2019-07-23 22:58] Mottie commented on #95
Also, if a color includes an alpha channel, it adds more definitions:

![](https://user-images.githubusercontent.com/136959/61752977-5f1b9c00-ad73-11e9-9a60-8dbe13f7c813.png)

It's probably OCD of me, but I think I should include a `;` after each color...

[2019-07-24 01:38] Mottie commented on #95
[code]

[2019-07-24 01:59] Mottie commented on #95
[code]

[2019-07-24 02:31] #95 closed

[2019-07-24 02:35] Mottie commented on #95
I originally was using a details/summary to show the popup, but using the copy code snippet button would include *all* of the popup content. So now it's a button. The copy code snippet will still include the popup content if the popup is visible.

[2019-07-24 07:52] jerone commented on #95
Awesome work, as always!

But I found two issues:

1. The tooltips won't close by itself. I have to press exactly at the same color preview to close the tooltip. I like that it will stay open, because then I can do the next issue (see 2.).
  ![image](https://user-images.githubusercontent.com/55841/61774675-a3e91680-adf7-11e9-8634-de9344ffa012.png)

2. It won't allow me to select any of the convers

[2019-07-24 11:45] Mottie commented on #95
Yeah, I didn't know how to get around closing easily. So I made sure pressing <kbd>Space</kbd> and <kbd>Enter</kbd> would toggle the popup, and pressing <kbd>Esc</kbd> would close *all* popups.

And text selection should now be fixed.

[2019-07-25 23:06] jhpratt opened #96 "[bug] Code colors allows overflow in all code blocks"
[These lines are in question](https://github.com/Mottie/GitHub-userscripts/commit/b8830e754c1a1d9fdd3a7ffc07487cef6b56ba51#diff-be55d55f33e883538d4369f2b03f4db8R31-R32)

This single declaration allows `overflow` on _all_ codeblocks, such as on [this page](https://github.com/tc39/proposal-nullish-coalescing) (at least on a 1080 display).

![example](https://user-images.githubusercontent.com/3161395

[2019-07-25 23:29] Mottie commented on #96
Hi @jhpratt!

Yep, oops!! I have a [code wrap userscript](https://greasyfork.org/en/scripts/18789-github-toggle-code-wrap) installed, so I didn't notice. I'll have this fixed ASAP.

[2019-07-25 23:30] #96 closed

[2019-07-25 23:34] Mottie commented on #96
I set the overflow to be visible because the code color swatch is now clickable. It opens a popup containing the color in different formats.

[2019-07-25 23:37] jhpratt commented on #96
Nice work! Thanks for the _extremely_ fast update.

[2019-08-03 10:28] darkred opened #97 "(GitHub Files Filter) Feature suggestion: invert select"
Greetings @Mottie 🙂

Currently, 'GitHub Files Filter', only _hides_ the files matching the activated filters.

My suggestion is to also be able to invert select, i.e. only **show** the matching files, e.g. with Ctrl+click.
For example, in your repo, when Ctrl+clicking `MD`:
![2019-08-03_132328](https://user-images.githubusercontent.com/723651/62410682-ef6aa400-b5f1-11e9-8959-b8baa9baf283.jpg)
**to

[2019-08-04 02:31] Mottie commented on #97
Hi @darkred!

I'll see what I can do... what happens when someone <kbd>Ctrl</kbd>+clicks on the `«ALL»` button?

[2019-08-04 08:38] darkred commented on #97
_Currently, clicking on the `«ALL»` button disables all filters, i.e. displays all files._
IMHO <kbd>Ctrl</kbd>+clicking should have the exact same behavior, i.e. show all files -- hiding all files serves no purpose.

---

Also, upon further consideration, I believe that the best way to implement would be
not to use Ctrl+click but **to add an extra toggle button instead, entitled "Invert"**, that,

[2019-08-04 20:20] darkred commented on #97
And, another suggestion, please, regarding the «ALL» button:
when you press it, all the filters to become disabled, i.e. even after reloading the page (F5).
Currently, their status remains until you manually disable each one,
and that causes confusion for me.

[2019-08-06 03:36] Mottie commented on #97
Hmm, now that I read all that again, I'm confused 🤣

So what if I add a new button named "toggle"? Clicking it will invert the filters. So if you only want to see the files ending with "js", you click on that button (which hides the js files), then hit the invert and then only the "js" files are visible.

Then I can store the selected filters in local storage so the next time you return to any PR

[2019-08-06 09:15] darkred commented on #97
First, of all, sorry for the confusion and for not being consistent to my suggestion description.. 😟
Hoping to clarify everything with my reply below...

---

<br/>

Yes, exactly.

<br/>

Yes, I think that's the best approach.

<br/>

Currently, when you enable a filter, e.g. "JS", and so .js files are hidden, the status of that "JS" filter (=enabled) remains after you reload the page (F5).
**But*

[2019-08-10 18:45] darkred commented on #97
One more thing, please:
I believe that the default action of the script should be "show matching"(=filter),
not "hide matching"(=filter out).

I understand that you've written the script in order to be able to _hide_ the non-important filetypes from the listings, but I find that it's more suitable to the script's title, 'GitHub Files Filter', if it had:
- normal action: "show matching"
- INVERT ac

[2019-08-15 17:56] darkred commented on #97
Here is a summary of my suggestions:

- add a new button named <kbd>TOGGLE</kbd> :
  - clicking it will invert the filters
  - normal action: "show matching" / INVERT action: "hide matching"
  - (regarding the <kbd>ALL</kbd> button) the 'all-filters-are-now-disabled' status to remain after page reload
  - maintain the strikethrough on applied hiding filter names from my PR #68

---

- apply the ab

[2019-08-15 19:23] Mottie commented on #97
Yes, thanks! Sorry, I've been busy job hunting. Hopefully, everything will be settled soon and I'll have some free time to take care of this.

I was actually thinking of replacing the <kbd>ALL</kbd> button with the <kbd>TOGGLE</kbd> action.

[2019-08-15 20:08] darkred commented on #97
No problem! I wish you every success ! 👍

Great idea!

[2019-08-23 00:39] Bluscream opened #98 "[Question] Keep navbar when scrolled down?"
My navbar keeps being replaced with some other bar whenever is scroll down. i would like to be able to see atleast my notifications icon at all times though

![](https://i.imgur.com/4S8lAH7.gif)

Can this be easily "fixed"?

[2019-08-23 01:55] Mottie commented on #98
Hi @Bluscream!

That bar was added by GitHub so you always know the status of the issue or PR.

If you're using Stylus, then we also have a UserCSS named [GitHub-FixedHeader](https://github.com/StylishThemes/GitHub-FixedHeader) that keeps the navbar always visible.

[2019-08-23 03:04] Bluscream commented on #98
Thank you, works like a charm :)

[2019-08-23 03:04] #98 closed

[2019-08-28 20:42] AdrianTP opened #99 "Sort Does Not Work on Org Repo List"
About: https://github.com/Mottie/GitHub-userscripts/wiki/GitHub-sort-content

Steps to Reproduce:
1. Go to https://github.com/jquery (as in the example gif in the [GitHub-sort-content wiki page](https://github.com/Mottie/GitHub-userscripts/wiki/GitHub-sort-content))
2. Notice the lack of the sort indicator

Notes:
It still works in the People tab...

[2019-08-29 13:29] aspiers opened #100 "[Toggle Expanders] doesn't work with Show/Hide resolved"
I was pretty sure that Shift+click and Control+Shift+click on Show/Hide resolved expanders in PRs used to work, but it certainly doesn't work for me now - it just behaves like a normal click without Shift or Control.  Here's an example I used to test: https://github.com/crowbar/crowbar-core/pull/1853

[2019-08-29 13:32] aspiers opened #101 "[Toggle Expanders] Cannot read property 'querySelectorAll' of null"
When following the link from https://github.com/Mottie/GitHub-userscripts/wiki/GitHub-toggle-expanders to https://github.com/torvalds/linux/commits/master, if I Control+Shift+click on a commit, nothing expands, and in my Javascript console I see:

[code]

[2019-08-30 04:13] Mottie commented on #100
Hi @aspiers!

Thanks, I'll take a look this weekend.

[2019-08-30 21:51] Mottie commented on #99
Hi @AdrianTP!

Thanks, I'll work on this soon.

[2019-09-01 18:19] mxmilkb opened #102 "GitHub table of contents position issue when viewport is resized"
I'm using the TreeStyleTabs addon sidebar. When I toggle the sidebar off, the position of the ToC doesn't change. This is also the case when the whole window is resized.

[2019-09-02 00:57] Mottie commented on #102
Hi @mxmilkb!

I'm guessing you mean [this Firefox addon](https://addons.mozilla.org/en-US/firefox/addon/tree-style-tab/)? I'm not sure what you mean by the position of the TOC not changing. If it ever goes off screen you can reset it using the <kbd>g</kbd>, then <kbd>r</kbd> hot keys.

The popup is draggable, and it's position is set from the left side of the window. Do you think if we saved the d

[2019-09-02 01:09] #99 closed

[2019-09-02 01:20] Mottie commented on #99
Please review the [change log](https://github.com/Mottie/GitHub-userscripts/wiki/GitHub-sort-content#version-300-2019-09-01) for this update.

[2019-09-02 02:20] Mottie commented on #101
Hi @aspiers!

I was just working on this fix.

I was thinking about changing it so that <kbd>Shift</kbd>+Click only toggle the expanders of the current date. Then <kbd>Shift</kbd>+<kbd>Ctrl</kbd>+Click would toggle all expanders on the page. This is different that the previous behavior where <kbd>Shift</kbd>+Click  would toggle all the expanders and including the <kbd>Ctrl</kbd> did nothing differ

[2019-09-02 02:24] Mottie commented on #100
Hmm, did they get rid of the outdated toggle? I think it was renamed to show/hide resolved and outdated was moved to a label inside the block.

[2019-09-02 07:50] aspiers commented on #100
Yes that's right I think.

[2019-09-02 08:46] aspiers commented on #101
Thanks @Mottie!  Yes, this sounds exactly right to me.

[2019-09-02 09:49] mxmilkb commented on #102
Yes. As in, when the viewport width increases, the menu then overlaps part of the central content.

Thanks for the tip! I've remapped these to c+i and c+a so as to avoid keys used by Vimium or Github. This changes the molehill of a problem from a minor practical issue to an aesthetic one :)

Indeed, I was wondering if there was a way to have it position itself relative to the edge of the central c

[2019-09-02 20:30] Mottie commented on #102
Please try out the latest version. You'll likely have to reset the popup, but now it will maintain it's position based on the middle of the screen. That was a great idea! Thanks!

[2019-09-02 20:31] Mottie commented on #101
This has been fixed in the latest version!

[2019-09-02 20:31] Mottie commented on #100
Please try out the latest version.

[2019-09-02 20:32] Mottie commented on #97
Busy weekend. I didn't forget about you, I just didn't get around to working on this script. It's high on my list now 😸

[2019-09-02 20:33] #101 closed

[2019-09-02 20:33] #100 closed

[2019-09-02 21:08] mxmilkb commented on #102
That's great, thanks!

The title of the popup does say 'null' though.

Aside; when I restore the popup, it's position moves to just below the header, rather than the default position.

[2019-09-02 23:14] Mottie commented on #102
The title can be modified through the Tampermonkey settings.

Yeah, I made the default/reset position of the popup to be in the upper right under the header. Move as desired.

[2019-09-03 09:18] aspiers commented on #100
Works perfectly now, many thanks!

[2019-09-03 09:19] aspiers commented on #101
Works perfectly, thanks again :-)

[2019-09-03 15:42] AdrianTP commented on #99
@Mottie Lovely, thanks so much for the quick turnaround!

[2019-09-03 18:07] mxmilkb commented on #102
`title: "Table of Contents",` was already set at the top of the script.

I selected the Tampermonkey menu item "Set Table of Content Title", then entered "Table of Contents", and I got this;

![image](https://user-images.githubusercontent.com/108225/64197379-dc135880-ce7d-11e9-9f97-98afa9f5c04b.png)

[2019-09-03 20:07] mxmilkb commented on #102
Hmm, it appears to have ironed itself out now, I'm just seeing "Table of Contents" as the title now. I had thought I'd done a hard rereload before..

[2019-09-03 20:37] Mottie commented on #102
I was able to duplicate the issue... I'll investigate soon.

[2019-09-05 23:44] Mottie commented on #97
Ok try out this script; if it works like you want, I'll go ahead and commit it:

<details>
<summary>Files-filter</summary>

[code]
</details>

[2019-09-06 00:32] Mottie commented on #102
Ok, all fixed now! 🎉

[2019-09-06 00:32] #102 closed

[2019-09-06 14:45] darkred commented on #97
Thanks a lot for your effort! 👍

---

Unfortunately though, the new version doesn't do anything: no filter buttons group, no filtering, nothing.
And there's no error in browser's Console.

I've tried both latest Tampermonkey versions (TM 4.8.41 stable and TM 4.9.5971 beta)
in a fresh Chrome 76/Firefox 69 profile with only the script installed, in e.g.
https://github.com/Mottie/GitHub-userscripts a

[2019-09-08 12:07] Mottie commented on #97
Hmm, you mentioned this before:

To me that is essentially what the toggle button does now; it inverts the selected state of all the buttons instead of the button action (matching). The results are the same - unless I'm utterly over-thinking this whole thing.

[2019-09-08 21:06] darkred commented on #97
Unfortunately I have to disagree with you. 😟

The current implementation of "Toggle" just switches the status of each filter.
Yes, I had agreed with you [here](https://github.com/Mottie/GitHub-userscripts/issues/97#issuecomment-518585027) on that, but as I test your new version,
there's a case in which I find it unpractical: that is **when "Toggle" and all filters are all disabled**,
i.e. when I c

[2019-09-11 16:15] darkred commented on #97
Sorry for changing my mind once more, but I've been thinking over my last suggestion a lot,
and I end up that it would be counterintuitive, when you initially single/plain click on a filter,
the _other_ filters to become disabled.

So, my final suggestion is that, the new «Toggle» button is useful as it is, so keep it (changing its tooltip and moving it to thend),
and that, it would be convenient

[2019-09-15 17:08] darkred commented on #97
If I may facilitate you a bit, here are the few changes for my last suggestion that I managed to make:

- *(change button name)* change line 50 to:
[code]
- *(change button tooltip)* change line 259 to:
[code]
- *(detect Ctrl+Click)* lines lines 317-321 to:
[code]
---

Now, what's left to be done  (sorry I can't contribute more) :

- The <kbd>Invert</kbd> button to appear to the end of the filers.

[2019-09-23 03:21] Mottie commented on #97
I just updated the files filter userscript.

I didn't:
- Move the invert button to the right. It'll look weird when there are a bunch of filter buttons that wrap around to the next line. I like it on the left - and I changed the icon.
- Add a method to allow you to continue to use <kbd>Ctrl</kbd> + click. I mean, when you use it, it enables the selected filter and disables all the others. Continui

[2019-09-23 21:35] darkred commented on #97
Thank you so much!! It's great! 👍

[2019-09-23 21:35] #97 closed

[2019-10-27 10:59] monk-time opened #103 "[GitHub Custom Hotkeys] Firefox's search-as-you-type breaks shortcuts"
Hi!

I'm using Firefox 70 with Tampermonkey and the option "Search for text when you start typing" turned on. As long as it's enabled, all shortcuts defined in "GitHub Custom Hotkeys" (such as "g h") fail as they get intercepted by the search bar.

It used to work several months ago, so probably something has changed on the Firefox's end.

[2019-10-27 13:26] Mottie commented on #103
Hi @monk-time!

This userscript uses the same method that GitHub uses to add hotkeys. And I would think that any browser set option to intercept typing would override anything we could do in a website. I've never tested that interaction before, I didn't know that it use to even work.

Anyway, sorry, there isn't much I can do from my end. You might want to submit a report to Firefox, unless GitHub

[2019-10-27 13:36] monk-time commented on #103
Duh, I completely forgot that Github has its own hotkeys. And they too no longer work too with this option enabled. So yeah, sorry for a false alarm, the issue comes from somewhere between GH and FF. I'll try to investigate it further!

[2019-10-27 13:52] #103 closed

[2019-11-09 14:03] gingerbeardman opened #104 "[GitHub-sort-content] Sort repo broken"
Sort repo seems to be broken?

See https://github.com/isaacs/github/issues/895#issuecomment-552079088

[2019-11-09 14:37] Mottie commented on #104
Hi @gingerbeardman!

Hmm, yeah I think you're right. I won't be able to troubleshoot or work on this right now, but I'll take a look soon. Thanks for letting me know!

[2019-11-09 14:42] redtide commented on #104
After looking at other issue comments I tried to replace Greasemonkey with Tampermonkey, installing the script this time from the GH repo but didn't help.

[2019-11-09 14:52] Mottie commented on #104
I recently had to rewrite that userscript because GitHub had changed so many class names. I used the same list of targeted pages, so I'm not sure if I missed that one. I'm in the process of re-installing Windows, so my dev environment isn't set up... and we have plans today. So I probably won't get to look at this until later tonight.

[2019-11-10 16:46] #104 closed

[2019-11-10 16:47] Mottie commented on #104
Yep, GitHub changed the attributes I was targeting. All fixed!

[2019-11-10 16:56] gingerbeardman commented on #104
Thank you!

[2019-11-11 23:36] darkred opened #105 "(GitHub Issue Comments) The script no longer works: it shows invalid active items, no active items and the filters don't actually toggle anything"
Greetings @Mottie !

Using Chrome 78/Firefox 70 and only Tampermonkey beta 4.9.6088 and 'GitHub Issue Comments' v1.3.8.

After GitHub recently having changed [so many class names](https://github.com/Mottie/GitHub-userscripts/issues/104#issuecomment-552107392),
unfortunately the 'GitHub Issue Comments' script no longer works:

- it shows invalid active items when 'Toggle items' is disabled
- it sho

[2019-11-12 03:52] Mottie commented on #105
Hey @darkred!

Hmm, yeah... it looks like a bunch of selectors have changed. Thanks GitHub!

I'll try to find some time soon to get this updated. It shouldn't be too bad (famous last words), so don't worry about assisting me. The userscript isn't using jQuery either 😸.

[2020-01-23 22:17] darkred commented on #105
Hi there Mottie.

I think I wasn't expressed properly, so let me rephrase please:

I know that the userscript doesn't use jQuery:
it's just that, if I'm not mistaken, the CSS selectors of the various entry types to filter are no longer straightforward/descriptive,
e.g. for "Label Changes" it's no longer something similar to `.discussion-item-labeled, .discussion-item-unlabeled` that you use in the

[2020-01-24 02:32] Mottie commented on #105
Hey sorry for not updating this issue. I've been super busy! I got back from vacation at the end of the year, and it's been non-stop work (around the house & at work).

I did start working on this issue. I didn't encounter any problems with setting the script up without using jQuery. I'll see if I can get it done next week, since I'm going out of town tomorrow, for about a week.

[2020-02-16 14:50] Mottie commented on #105
Sorry this took me so long to get fixed. Please test it out and let me know if you find any issues.

[2020-02-16 16:52] darkred commented on #105
Thanks so much for fixing the script!! Awesome! Super!

---

I've noticed these issues:

- in this page, the "Reactions" filter doesn't become active even though I have two reaction emojis below your [second-to-last comment](https://github.com/Mottie/GitHub-userscripts/issues/105#issuecomment-577966939).
(The "Reactions" filter works ok in other pages I've tried)
- in PR pages, e.g. PRs in https:/

[2020-02-16 20:25] Mottie commented on #105
Hi @darkred!

Please check the reactions issue you mentioned above and in #84.

As for the PRs... ugh, somehow I thought you mean the list of PRs page. I'll take a look now.

[2020-02-16 21:12] darkred commented on #105
I confirm both issues are fixed. Thank you!

Sorry, I should have been more descriptive about that issue.

[2020-02-17 16:18] darkred commented on #105
Unfortunately, we both got confused!😵

You got confused about my report about PRs pages.

I now realized I got confused with your comment regarding #84! you wrote:

but issue #84 is not also about `Reactions`: that's about the `+1 Comments` filter.
And that issue (still) occurs, as follows:

More details/STR:
- Go to page #84. In that page, you have a very short message ("Oops") https://github.com

[2020-02-18 12:11] Mottie commented on #105
Ok, I _think_ I fixed most of the issues; but I'm not happy with how the reviews are working.

Reviews are sometimes wrapped in an outer wrapper that includes a timeline comment with code comments. Sometimes the review wrapper includes other changes like commits and other timeline changes.

So now there are new/updated review entries:

- `Reviews (All)` - hides _all_ reviews
- `Reviews (Outdated)`

[2020-02-18 15:31] darkred commented on #105
Thank you for all your great work and effort! I'm grateful!

Regarding your concern on how the reviews are working,
I can only say, that you have already done the best possible! 👍

---

The only issue that still exists is #84:
in the latest script version the `+1 Comments` filter:
- never appears to be active (i.e. that it has matching content), and
- enabling it *(after disabling the `Only show a

[2020-02-26 03:10] xiote opened #107 "(GitHub indent comments) Not work on safari"
Working well on chrome, but not working on safari

[2020-02-26 12:27] mxmilkb opened #108 "Collapse all / expand level / expand all buttons?"
Soulseek has this functionality when browsing a library, where everything is expanded by default but there are buttons that collapse all to see just the root level then progressively 'unfold' the menu.

[2020-02-27 03:26] Mottie commented on #108
Hi @mxmilkb!

Collapse & expand content on what page?

This repo already has userscripts for:
- [collapsing markdown by header](https://github.com/Mottie/GitHub-userscripts/wiki/GitHub-collapse-markdown)
- [repo files filter](https://github.com/Mottie/GitHub-userscripts/wiki/GitHub-files-filter)
- [code folding](https://github.com/Mottie/GitHub-userscripts/wiki/GitHub-code-folding)
- [collapsing l

[2020-02-27 03:33] mxmilkb commented on #108
Oop, sorry, the ToC plugin

[2020-02-27 04:20] Mottie commented on #108
Oh, you can already do that...

from the docs - https://github.com/Mottie/GitHub-userscripts/wiki/GitHub-table-of-contents

[2020-02-27 04:21] Mottie commented on #108
Maybe not _exactly_ what you're looking for, but it's served me really well. I am open to feedback on how it could be improved.

[2020-02-27 23:57] Mottie commented on #107
Hi @xiote!

Sorry, I keep meaning to test this, but I only have Safari on my work computer. I'll try to remember to test this again.

[2020-02-29 18:46] xiote commented on #107
tampermonkey is not work on macos 10.15 safari

[2020-02-29 18:46] #107 closed

[2020-03-01 03:30] Mottie commented on #105
Ok, please check again. I misnamed the function, so hide +1 & reactions were both broken. Both should be fixed now. 🤞

[2020-03-01 11:28] darkred commented on #105
Yes, I confirm it's fixed now. Closing both bugs now.
Thanks a lot for everything!

[2020-03-01 11:28] #105 closed

[2020-03-01 11:29] darkred commented on #84
Fixed via a commit in #105 .

[2020-03-01 11:29] #84 closed

[2020-03-20 02:21] Mottie commented on #108
I'm guessing this issue has been resolved, so I'm going to close it. If you continue to have problems, please feel free to continue the discussion in this thread.

[2020-03-20 02:21] #108 closed

[2020-03-20 02:33] Mottie commented on #88
I finally added this userscript to the repository: https://github.com/Mottie/GitHub-userscripts/wiki/GitHub-update-fork

I never got around to getting it to fill in the PR name automatically; this would require it saving the name across several page loads, and I'm just not confident that it would work well.

[2020-03-20 02:33] #88 closed

[2020-04-29 01:30] sfdye opened #109 "GitHub Toggle Diff Comments stopped working"
- Each comment block now has a clickable toggle arrow in the upper right corner. (this is now gone)
- Use Shift + click to collapse or expand all comment blocks on the page. (does not work anymore)
- Use Shift + click to show or completely hide all the comment blocks in the file. (Does not work anymore)

[2020-05-10 04:08] Rupthya opened #110 "[GitHub Custom Navigation] This style seems broken due to Github update"
I just guessing its broken due to Github update

https://github.com/Mottie/GitHub-userscripts/wiki/GitHub-custom-navigation

Now it look like this

![Img](https://i.imgur.com/IGCn1lE.png)

Thanks for your help

[2020-05-10 22:57] Mottie commented on #110
Hi @Rupthya!

Thanks for reporting this issue!

[2020-05-10 23:05] #110 closed

[2020-05-10 23:08] Mottie commented on #109
Hi @sfdye!

I meant to finish this fix over this weekend. It was a bit more of a complicated fix than I anticipated, but it's something I'm still actively working on. I didn't want to hold up the other work, so it wasn't included in the latest release.

[2020-05-10 23:56] sfdye commented on #109
No worries, take your time :)

[2020-05-21 06:57] fuzzyami commented on #109
comments. comments everywhere. would love to see this fixed. thanks!

[2020-05-25 13:24] #109 closed

[2020-05-25 13:27] Mottie commented on #109
Sorry for the long wait!

[2020-05-26 09:56] fuzzyami commented on #109
thanks so much!

[2020-05-31 03:37] amosbird opened #112 "Is there a script for extending the column width limit in code review?"
I'm trying to have a 140 column width limit in the single page diff. Not sure if it's possible.

[2020-05-31 14:26] Mottie commented on #112
Hi @amosbird!

There isn't a userscript, but you can click on the gear icon and choose "Split"

![](https://user-images.githubusercontent.com/136959/83354751-5515e280-a320-11ea-97dc-d74c9710062b.png)

That will fill the entire browser width with a side-by-side view of the code.

![](https://user-images.githubusercontent.com/136959/83354769-737bde00-a320-11ea-9964-ef4a8caf4ca1.png)

If that doesn't

[2020-05-31 14:55] Mottie commented on #112
Actually, try this userscript... it really only needs a minimal amount of css to work:

[code]

[2020-06-02 22:05] daaain opened #113 "(GitHub diff files filter) Only «all» button seems to do anything"
I installed the `GitHub diff files filter` on Firefox with Tampermonkey.

When looking at a PR all the buttons are correctly rendered (ie file extensions and folders are picked up), but toggling anything other than the `«all»` button doesn't do anything.

How can I debug it?

[2020-06-03 00:37] Mottie commented on #113
Hi @daaain!

Hmm, yeah that seems to have stopped working. I probably won't be able to work on this until the weekend.

As for debugging... it looks like GitHub removed the file anchors which were being used to target the file blocks - see https://github.com/Mottie/GitHub-userscripts/blob/master/github-diff-files-filter.user.js#L75. The userscript is using the unique SHA to target each file. It lo

[2020-06-03 16:36] daaain commented on #113
Yes, this works!

[code]

[2020-07-06 07:40] worldsnas opened #114 "It seems github-rtl-comments is not working anymore"
I tried to install [Github RTL comments](https://github.com/Mottie/GitHub-userscripts/wiki/GitHub-rtl-comments) using [Greasemonkey](https://addons.mozilla.org/en-US/firefox/addon/greasemonkey/) on firefox.

But I don't see the button on any comment.

I'm not a Javascript developer or I would check it out myself.

[2020-07-06 12:51] Mottie commented on #114
Hi @worldsnas!

Thanks for letting me know! I've got a busy week planned ahead, and a few other userscripts that have broken with the new GitHub design. I'll see what I can do this coming weekend.

[2020-07-11 22:57] #113 closed

[2020-07-11 22:57] #114 closed

[2020-07-11 23:18] Mottie commented on #114
So I figured out that the problem is that the userscript did not support GreasyMonkey v4 (like most of my userscripts), but I went ahead and updated it to work.

[2020-07-11 23:26] Mottie opened #115 "GreasyFork does not have the latest userscripts"
While updating the following userscripts:
| Userscript | Current<br>Version | GreasyFork<br>version |
|----|:----:|:----:|
| https://github.com/Mottie/GitHub-userscripts/wiki/GitHub-files-filter | v2.1.0 | v2.0.1 |
| https://github.com/Mottie/GitHub-userscripts/wiki/GitHub-image-preview | v2.0.1 | v1.2.4 |

This happened because I started using newly supported JavaScript operator to make the code

[2020-07-12 11:36] TheWAVs opened #116 "GitHub image preview adds an additional "exploregrid-item image m-3 float-left js-navigation-open" class inside the dropdown-menu "get-repo.modal" div class."
Hi!, I figured out the script adds an additional **"exploregrid-item image m-3 float-left js-navigation-open"** class inside the "Code" dropdown menu whenever I click on either the button "Show tiled files with image preview" or the button "Show full width files with image preview", so it mess up the dropdown-menu "Download zip" section.

**_Proof:_**

![twblpttpMg](https://user-images.githubuserc

[2020-07-12 15:32] #116 closed

[2020-07-12 15:43] Mottie commented on #116
Hi @TheWAVs!

Thanks for reporting this problem. It's just been fixed. Please note that GreasyFork isn't updating the userscript as expected, so please install from here on GitHub or OpenUserJS. Thanks!

[2020-07-13 12:55] Mottie commented on #115
I've removed optional chaining, the JS operator preventing GreasyFork from updating, for now. You can once again update the aforementioned files from GreasyFork.

[2020-07-13 12:55] #115 closed

[2020-07-16 15:53] dnknn opened #117 "a Bug for `GitHub-table-of-contents` Script"
https://github.com/Mottie/GitHub-userscripts/wiki/GitHub-table-of-contents
https://greasyfork.org/scripts/18344

This script is excellent and practical.

But when **Enable**  Chrome built-in **translation**, there is no response to clicking on Toc, **can't** jump to Toc location.

Please see the address bar, URL of ⚓#anchor(URL-hash)  will not change automatically,
so, it can not jump to Toc locat

[2020-07-17 04:14] Mottie commented on #117
Hi @dnknn!

Hmm, it looks like Google translate breaks the links by adding an unclickable `<font>` element inside the links. I think I have a fix. Let me know if it works for you.

[2020-07-17 04:15] #117 closed

[2020-07-17 12:43] dnknn commented on #117
Hi:) @Mottie
👍You are so clever, perfect with one 🅲🆂🆂

`.ghus-toc li a font {pointer-events:none}`
Plus this can indeed penetrate to click on the <a> link.
This is a flaw in Google Translate

Perfect, thanks a lot again @Mottie ❣

[2020-07-22 23:59] dnknn opened #118 "can double-clicking to hide ? for `GitHub-table-of-contents` Script"
If easy to achieve, Can you add `double-clicking` to hide `Toc` ?

Please see the screenshot below ❸:

![Pic-200723_756](https://user-images.githubusercontent.com/10995302/88240575-11a17a00-ccba-11ea-9c36-2408912b8666.png)

[2020-07-23 06:39] TheBestPessimist opened #119 "Copy code snippet button background is blue"
In the wiki page, the gif shows the button as white: https://github.com/Mottie/GitHub-userscripts/wiki/GitHub-copy-code-snippet.

In my system however, the button has a blue background, because of the `btn-blue` class here: https://github.com/Mottie/GitHub-userscripts/blob/master/github-copy-code-snippet.user.js#L25

![image](https://user-images.githubusercontent.com/4482210/88258249-5df3b680-ccc8

[2020-07-23 11:53] Mottie commented on #119
Hi @TheBestPessimist!

Wow, I don't remember why I made that blue 😆

I'll get that fixed here shortly. Thanks for letting me know!

[2020-07-23 11:57] Mottie commented on #118
Hi @dnknn!

That's an easy enhancement to make. I'll make it available soon.

[2020-07-23 12:04] #119 closed

[2020-07-23 12:24] Mottie commented on #118
Hmm, weird. I just noticed that the double-click only works after you drag & drop.

[2020-07-23 12:45] Mottie commented on #118
Ok, fixed. There is a delay after the double-click before the window collapses; I haven't spent too much time investigating how to fix that while also trying to detect a drag & drop.

[2020-07-23 12:45] #118 closed

[2020-07-23 17:06] dnknn commented on #118
I tried it, and it was perfect, no problem.
Thanks you very much!

[2020-07-23 20:32] jpalmieri opened #120 "mark all files in PR as 'viewed'"
(or toggle such behavior).

Use case:

I often review large PRs by just scrolling through them, without checking the "viewed" checkbox after I review. It's an extra click for each file, which adds up. I often approve the PR without marking any files as "viewed".

The problem comes when the author adds new commits after my approval, so I have to come back and re-review. If I were to have checked al

[2020-07-30 22:22] Mottie commented on #120
Hi @jpalmieri!

LOL sorry, I thought I responded last week. I like this idea. It might be nice to add a toggle button near the top of the page, _and_ allow <kbd>Shift</kbd> + Click on a view checkbox to toggle all the checkboxes to match the selected one. I'll see what I can do this weekend.

[2020-08-03 02:35] Mottie commented on #120
Hi @jpalmieri!

Please test this userscript out and let me know what you think.

[code]

[2020-08-04 06:58] xmo-odoo opened #121 "Deals rather badly with cancelled comments"
1. create comment (with [+])
2. hide all comments in file
3. show comments
4. cancel comment created at [1]
5. hide comments again

Expected: no comment

Observed: a hidden comment mark with *0* next to it, seemingly impossible to get rid of without reloading the page entirely

[2020-08-04 07:03] xmo-odoo opened #122 "Can't leave comment when hiding comments"
This extension got my interest because on some PRs with lots of inline comments traffic it can be difficult to even see the code inbetween the comments.

I wanted the ability to see the PR as if it were brand new, for clarity. However, when hiding comments the new comments are also hidden, making this idea impossible.

*Collapsing* comment allows writing new ones, but still leaves rather large gap

[2020-08-07 04:01] dnknn opened #123 "Can: Open in new tab ? for GitHub custom hotkeys"
Thanks for this tool, it is very easy to use!
![208_07115543](https://user-images.githubusercontent.com/10995302/89607365-f1221400-d8a4-11ea-9bf3-9d6f0e59f369.png)

- ### 💥 Current issues:
Can only be opened in the current tab.

- ### ❥ Expected behavior:
Some lists can be opened in a new tab.

- ### ❓ How to achieve:
Add a checkbox to each list : ⬜ or 🔲 or 🗔

Or, edit in `JSON`.

[2020-08-07 12:26] Mottie commented on #123
Hi @dnknn!

This userscript uses GitHub's built-in [hotkey code](https://github.com/github/hotkey), and after looking through their documentation & code, I didn't see any way to make it open a page in a new tab. I'd recommend that you open an issue in that repo to get a discussion started on this enhancement.

[2020-08-07 15:12] dnknn commented on #123
Thanks♪(･ω･)ﾉ

[2020-08-07 21:45] mxmilkiib opened #124 "github-toc.user.js toc includes side panel headings"
Such as on https://github.com/mixxxdj/mixxx/wiki/midi%20scripting

![image](https://user-images.githubusercontent.com/108225/89690821-586cb200-d8ff-11ea-8a75-879157b15ece.png)

[2020-08-08 16:14] Mottie commented on #124
Hi @mxmilkiib!

Thanks for reporting this problem! I'll get it fixed soon.

[2020-08-08 16:15] Mottie commented on #123
Oh, I see... so the link just needs a `target`... I'll see what I can do.

[2020-08-09 00:13] #123 closed

[2020-08-09 00:13] #124 closed

[2020-08-09 00:34] Mottie commented on #122
Hi @xmo-odoo!

Sorry for not responding earlier. I just fixed a bunch of other stuff, but forgot about this issue. Sorry... it'll probably have to wait another week until I have more time to work on it.

[2020-08-09 00:35] Mottie commented on #121
Hi @xmo-odoo!

Same here... I didn't get around to troubleshooting & fixing the problem this weekend.

[2020-08-10 05:53] xmo-odoo commented on #122
@Mottie no worries, it's no worse than before I installed the userscript so it's hardly a life-and-death issue

[2020-08-10 10:34] dnknn commented on #123
Very, it works perfectly.

[2020-08-10 12:09] dnknn opened #125 "Bugs for `GitHub custom hotkeys`"
Hi @Mottie !
Thanks for the release of version 1.1.0, optional to open in new tab, working perfectly by itself..
But other have a bug,

![208_10200541](https://user-images.githubusercontent.com/10995302/89780914-eab1c780-db44-11ea-9035-5350e5587f06.png)

1. Then, On the any page, can not use `g q` to popup this dialog box.
https://github.com/........#hotkey-settings

2. On the github homepage, it

[2020-08-10 12:36] Mottie commented on #125
HI @dnknn!

Hmm, it looks like the github home page does that no matter what bookmark you add to the url, e.g. https://github.com/#blah

[2020-08-10 12:42] dnknn commented on #125
You don't seem to understand the specific meaning.

![208_10204232](https://user-images.githubusercontent.com/10995302/89783757-0e2b4100-db4a-11ea-90c2-ffedd4134247.png)

[2020-08-10 12:47] Mottie commented on #125
I do understand; but there is something odd going on with that page when you add a hash. I didn't close this issue because I still need to spend time investigating why the settings popup doesn't open.

[2020-08-10 12:50] dnknn commented on #125
Ok. The previous version no this problem. can use the hotkey to popup, but now can only use the mouse to click to popup. That's what it means.

[2020-08-10 13:10] #125 closed

[2020-09-29 21:17] troychard opened #127 "Github Toggle Wiki Sidebar broke?"
The GitHub Toggle Wiki Sidebar broke for me some time back.

I seem to have fixed it just now on my local machine by altering line 59 from
`const sidebar = $("#wiki-rightbar"),` to `const sidebar = $(".wiki-rightbar"),`

(Edit: nope, my little hack didn't fix.  It does make the sidebar appear and re-appear, but the rest of the content doesn't stretch to fit when it disappears).

Possible bug?  or

[2020-09-30 00:10] Mottie commented on #127
Hi @troychard!

Thanks for letting me know! I don't use the wiki pages as often as I used to, so I didn't notice that it broke.

[2020-09-30 01:27] #127 closed

[2020-09-30 01:32] Mottie commented on #122
I haven't thoroughly tested this update, but it seems to be working as expected.

[2020-09-30 01:35] Mottie commented on #121
So when you hide all comments, this userscript is using the built-in setting to hide all comments, so that behavior hasn't changed. I'm not able to duplicate the mentioned problem anymore - maybe I'm missing something?

What I did fix was collapsed comments no longer collapse open editors.

Please let me know if you're still having this issue. If not, please close this issue. If it does still exis

[2020-09-30 09:46] xmo-odoo commented on #121
@Mottie issue doesn't occur anymore, though possibly because the "hidden comments" marker is gone? I think when I tested originally if comments were hidden (actually hidden not collapsed) there would be a gutter icon with the number of hidden comments at that point, and when a comment was cancelled that gutter icon was left with a count of 0.

I should have taken a screenshot, sorry about that.

[2020-09-30 09:57] xmo-odoo commented on #122
It seems to work fine when *collapsing* comments but not when *hiding* comments

[Here's a screencast](https://github.com/Mottie/GitHub-userscripts/files/5304604/Screencast.2020-09-30.11.50.00.mp4.tar.gz), as you can see when using "Collapse" the new comment box still appears, but when using "hide" it's not possible to open an editor.

Again my use case is a bit specific so I can understand if you

[2020-09-30 16:07] troychard commented on #127
Confirmed, the fix Works!  Thanks Mottie! :D

[2020-10-01 01:34] Bluscream opened #128 "Update fork not working anymore?"
![Shadow_2020-10-01_03-33-39](https://user-images.githubusercontent.com/3318223/94756165-01330d00-0397-11eb-9bf7-84d1e24171ea.png)

[2020-10-01 01:37] #128 closed

[2020-10-01 12:59] Mottie commented on #128
Hi @Bluscream!

Thanks for letting me know! The update is available now.

[2020-12-18 22:39] darkred opened #131 "(GitHub Toggle Expanders) Shift+Click (toggle all expanders within a date block) not working in repo commit pages"
Hi there @Mottie .

I've tried 'GitHub Toggle Expanders' in repository commit pages
and unfortunately <kbd>Shift + Click</kbd> (*toggle all expanders within a date block*, e.g. a commit in Dec 17, 2020) doesn't toggle any other expanders but the current one.
There's no error in Console.
(Ctrl + Shift + Click (toggle all expanders on the page) works fine).

Example pages:
https://github.com/mirror/

[2020-12-19 05:08] #131 closed

[2020-12-19 05:08] Mottie commented on #131
Thanks! It's fixed now.

[2020-12-19 11:11] darkred commented on #131
Thanks a lot for the quick response!

[2021-01-07 03:06] Mottie commented on #93
This is now built-into GitHub.

[2021-01-07 03:06] #93 closed

[2021-01-28 22:39] darkred opened #132 "(GitHub table of contents) Resizable window"
Greetings @Mottie

It's a feature request I wanted to make for a long time now:
it's about your awesome script, "GitHub table of contents".

Would it be possible to make its window _resizable_?
i.e. to be able to drag its right corner(or its edges) and expand/reduce as I want?

The reason is that very often, many entries in the TOC don't fit in the window and are truncated,
and I have to mouseover

[2021-01-31 00:00] dnknn opened #133 "invalid for `GitHub custom hotkeys`"
<img align=right width=50% src=https://user-images.githubusercontent.com/10995302/106370954-26ae4280-639a-11eb-9ee9-08e7990f491f.png>

- ### I can't see it now, so can't use it at all....
https://greasyfork.org/scripts/18675

[2021-01-31 08:29] Mottie commented on #133
Hi @dnknn!

Thanks for reminding me! I had a fix in the works, but forgot to finish it up.

[2021-01-31 08:42] Mottie commented on #133
Fixed in https://github.com/Mottie/GitHub-userscripts/commit/5c6902afa8801556517ac6bd536134736fa156ed

[2021-01-31 08:42] #133 closed

[2021-01-31 12:17] Mottie commented on #132
Done 😸

[2021-01-31 12:25] darkred commented on #132
You are awesome!! Thanks so much !

[2021-01-31 14:53] darkred commented on #132
If it's not too much to ask, could you please make the sections collapsible when clicking the arrows ?
e.g. in the following screenshot, the `Workbench` section to collapse when clicking the arrow next to it?
I am asking this, because when the TOC is very long, it would be very convenient to be able to collapse some sections.

<details>
<summary>Screenshot 1</summary>

![2021-01-31_164441](https:/

[2021-01-31 21:33] Mottie commented on #132
Clicking on the arrows works for me in Chrome. What browser are you having an issue in?

[2021-01-31 21:59] darkred commented on #132
I hid my last comment:
there's an issue after your last commit: **the collapse arrows now work only on some pages**,
that's why I mistakenly thought that the feature is missing, sorry.
So, this comment is an issue report:

Below are example pages: (tested in my everyday profile)

Where the collapse arrows don't work:
(I believe this started happening right after I resized the TOC window)
https://g

[2021-01-31 22:18] darkred commented on #132
Update:
regarding my everyday Chrome profile,
I found that the collapse arrows not working is a conflict with the Refined GitHub extension:
when I disable it, then they work ok every time.
If I enable it, then they don't work most of the times.

[2021-01-31 22:40] Mottie commented on #132
I found that the collapse arrows event listener was being bound on every page refresh. I've updated the script just now. Please try it now.

[2021-01-31 22:57] darkred commented on #132
Thanks a lot! So, indeed the 1st issue is fixed!

What mpw still remains is the other two:
(I retested them just now with a different fresh Chrome profile with only TM beta/VM beta)

---

No generated TOCm when not logged in to GitHub:
https://github.com/sinatra/sinatra *(the example URL)*
https://github.com/Mottie/GitHub-userscripts
https://github.com/Mottie/tablesorter

There's the following err

[2021-01-31 23:58] Mottie commented on #132
Ok, I've just updated the userscript to work on the logged out header... I can't reproduce the last issue with no arrows.  I did change how the arrows are rendered, so maybe it's incompatible with other browsers? No idea.

[2021-02-01 13:50] darkred commented on #132
Thanks for the fix when logged out.

---

The last issue occurs for me consistently.

If I may assist in reproducing it, here are my STR in full details:

In in a fresh Chrome profile of 88.0.4324.104 / Firefox 85  (win10 x64 20h2),
with only Tampermonkey beta 4.12.6126/Violentmonkey beta 2.12.9.4
and the script:

I open https://github.com/microsoft/vscode-docs/blob/vnext/release-notes/v1_52.md :

[2021-02-01 17:33] darkred commented on #132
Update:
in the fresh profiles, the collapse arrows are restored if I install (Stylus extension and the) [Github Dark](https://github.com/StylishThemes/GitHub-Dark) userstyle.

Without that userstyle, the arrows don't appear in neither the default GitHub Dark nor Light theme.

[2021-02-02 01:08] Mottie commented on #132
Oh, are they just invisible?

[2021-02-02 11:02] darkred commented on #132
Yes, exactly:

![](https://user-images.githubusercontent.com/723651/106591357-d8926e00-6556-11eb-8332-6f1f7799656a.gif)

[2021-02-05 14:41] mycal123 opened #134 "which JS for expand all issue and comment ?"

[2021-02-05 15:02] darkred commented on #134
There isn't such script.
Mottie has done an excellent work, even categorizing his scripts in the wiki:
https://github.com/Mottie/GitHub-userscripts/wiki

What you're looking for is probably a feature of the Refined GitHub extension:
![2021-02-05_165833](https://user-images.githubusercontent.com/723651/107049988-6bd7d780-67d3-11eb-8f49-29678403cfe8.jpg).

[2021-02-05 15:02] #134 closed

[2021-02-10 17:37] darkred opened #135 "(GitHub Toggle Expanders) When the content is expanded, the expander (`…`) to become dimmed/grayed out"
Hi there @Mottie

It's a feature request about the 'GitHub Toggle Expanders' script:
**when any expander (`…`) is clicked (i.e. either manually by the user or via the script's functionality) and the content is expanded, the relevant expander to become dimmed/grayed out.**

I wanted to make this request since forever, but hesitated to ask because the cause is the GitHub layout itself:
currently, wh

[2021-02-10 23:26] Mottie commented on #135
There really isn't much I can do within the userscript to fix this without messing up the color theme... If you're using the Stylus extension, you could create a GitHub auxillary style and include the following:

[code]

Adjust the color as desired.

[2021-02-11 09:53] dnknn opened #136 "hotkey-event-Bug of GitHub custom hotkeys"
<img align=right width=45% src=https://user-images.githubusercontent.com/10995302/107621108-b86a5980-6c90-11eb-8ee9-2f1f28afc586.png>

For example:
<table>
<tr>
	<td>t t
	<td>{root}/notifications
</table>

---
Please note that:  I defined two `t` .

`keydown` `t` and `keydown` `t` again, This is normal, no problem.

But if this is the case, the problem/bug is exposed:
`keypress`(e.g. holding⩾100ms

[2021-02-11 10:50] darkred commented on #135
Thanks a lot! It works great!

[2021-02-11 10:50] #135 closed

[2021-02-11 10:56] Mottie commented on #136
Hi @dnknn!

This userscript manages adding hotkey links to the page within the defined scope. GitHub's [hotkey](https://github.com/github/hotkey) code handles the `keyup`/`keydown` events. Please open an issue in their repo to let them know about the problem. Thanks!

[2021-02-11 11:22] dnknn commented on #136
👌

[2021-02-11 11:49] dnknn commented on #136
Since github there replied, I also closed this issue, thank you!

[2021-02-11 11:49] #136 closed

[2021-02-22 22:30] evanricard opened #138 "Page Increment and Decrement Hotkey"
Hey @Mottie, can you explain what {page-1} and {page+1} could, should, and would be used for in your custom hotkeys script?  I can see this being useful if a person isn't using vim-emulation already to go to "next" and "previous" links like I am doing myself already but am I missing something intrinsic in navigation on Github? I don't particularly use every section of Github but I'm wondering if I

[2021-02-23 03:29] Mottie commented on #138
Hi @evanricard!

My initial intension was to allow assigning a hotkey to navigate through issues or paginated results ([see the custom hotkey docs](https://github.com/Mottie/GitHub-userscripts/wiki/GitHub-custom-hotkeys)).

I discovered that [GitHub's hotkey library](https://github.com/github/hotkey) now uses [Key Values](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/key/Key_Value

[2021-02-23 13:58] evanricard commented on #138
Good morning @Mottie thanks for getting back to me! I figured the docs need updating but I wasn't going to fret over that for ya I just wanted to be sure I was attempting the increment and decrement operations in an intended way or if maybe you had a special use case for. I do like the idea of navigating through issues and maybe I will try to use it to go through a discussions section if I find on

[2021-03-14 00:52] dnknn opened #139 "Open in the background tab for GitHub Download ZIP"
[GitHub Download ZIP](https://greasyfork.org/scripts/373514)

![image](https://user-images.githubusercontent.com/10995302/111053861-5fb1fa80-84a2-11eb-8475-6083c176e63f.png)

Usually click on the download `a` link to open in the background, so that it will not affect the tab jumping.

[code]

👆 This can be opened in the background

open in the background tab, the current tab will remain motionless

[2021-03-14 01:48] Mottie commented on #139
Hi @dnknn!

I'm not seeing this happen in Chrome. Which browser are you using?

[2021-03-14 01:57] dnknn commented on #139
@Mottie You need to use an extension/script to customize the position where the label opens and closes. If the two are different positions, then the problem I said will occur.

SimpleTabOrder
https://chrome.google.com/webstore/detail/cekafjbmkfofacenifehbglhmajimhjf

Tab Position Customizer - Modified
https://chrome.google.com/webstore/detail/kkhcdbdhbmegbbhgmdhhpfmjhlhjlghp

or [CentBrowser](http

[2021-03-14 01:59] dnknn commented on #139
Mainly, the link downloads I have seen are all opened in the background tab, not in the foreground.

[2021-03-14 21:17] dnknn commented on #139
This issue is very small and will not affect big problems, so it can be closed at any time. I'm just talking about it

[2021-03-14 21:17] dnknn commented on #139
This issue is very small and will not affect big problems, so it can be closed at any time. I'm just talking about it ^_^

[2021-03-21 08:29] #139 closed

[2021-03-21 08:37] dnknn opened #140 "Can `Copy Code Snippet` also support to code of greasyfork.org ?"
Hi~ This script is very easy to use and useful, there is a suggestion:

[code]

For example:  https://greasyfork.org/scripts/37307/code

![image](https://user-images.githubusercontent.com/10995302/111898863-902a0380-8a63-11eb-9dd4-e8dbd6b9428d.png)

[2021-03-21 19:56] Mottie commented on #140
This change won't work because the copy code userscript uses the built-in [GitHub Clipboard copy element web component](https://github.com/github/clipboard-copy-element).

Anyway, I added it over in the Misc-userscripts repo - https://github.com/Mottie/Misc-userscripts/wiki/Greasy-Fork-Copy-Code

[2021-03-21 19:56] #140 closed

[2021-03-21 22:07] dnknn commented on #140
Thank you so much for your contribution!!!

👆 The wrong link points to ^_^

![image](https://user-images.githubusercontent.com/10995302/111922395-7ecd0f80-8ad4-11eb-8689-2238d8d17abc.png)

[2021-03-24 16:00] yakov116 commented on #120
Refined github added it https://github.com/sindresorhus/refined-github/pull/4016

[2021-04-14 23:37] sql-sith opened #143 "Is GitHub Enterprise (GHE) supported?"
And if so, how do I make it work? I just installed `GitHub Copy Snippet` and it works on `github.com` but not on our GHE server.

[2021-04-15 17:03] sql-sith commented on #143
I'm not a javascript guy, but I probably should have been able to figure this out before asking here. In case anybody else has the same question, here's what I did to get TamperMonkey scripts to work on our GitHub Enterprise (GHE) repos:

1. Click on the TamperMonkey extension icon and choose Dashboard.
2. Select the userscript you want to enable for GHE by ticking the checkbox on the left.
3. Cli

[2021-04-15 17:03] #143 closed

[2021-04-16 15:23] twio142 opened #144 "All userscripts stop working"
I installed a few userscripts from this repository:
- Custom Navigation
- Hovercard
- Raw Links
- Reveal Header
- Code Folding

They worked just fine till yesterday, but suddenly none of them works anymore and I don't remember changed anything.
Meanwhile, the browser extensions for GitHub (Octotree, Octolinker, Octohint) work just fine.
I'm using TamperMonkey on Chrome 90 on macOS, the extension a

[2021-04-16 16:12] darkred commented on #144
First of all, if a script is no longer working for you,
if you want to facilitate the script author in helping you,
it's crucial that you disable ALL other extensions than Tampermonkey/Violentmonkey, or ideally use only TM/VM with a fresh browser profile.
Then test the script as follows:
- login to github
- enable one script at a time,
- install/enable your other extensions one by one, to find any

[2021-04-16 17:40] twio142 commented on #144
Well, I found out it's not just the github userscripts, but the entire tampermonkey extension was not working on my browser, despite always been enabled. Tried toggle it on and off a few times and it's normal again.

Thanks for the reply anyway!

[2021-04-16 17:40] #144 closed

[2021-04-18 13:30] Mottie commented on #143
Hi @sql-sith!

Instead of modifying the file itself, switch to the "Externals" tab (vs the "Editor") and add your url to the `User includes` section
![2021-04-18 08_29_27-GitHub Code Colors](https://user-images.githubusercontent.com/136959/115147374-51ff1000-a020-11eb-93e5-1fa753e60eb6.png)

[2021-04-21 01:46] GregariousJB opened #145 "Doesn't work when large numbers in lists contain commas"
Screenshot: ![image](https://i.imgur.com/SpJjsH1.png)

Direct link to the page: https://gist.github.com/John-Paul-R/6819feb2f2f794df06ae678878cddaf3

[2021-04-21 03:25] Mottie commented on #145
Hi @GregariousJB!

I'm guessing this issue is about the sorting userscript? The userscript uses tinysort to provide the column sorting and it really isn't set up to parse the number values. I've been thinking about rolling my own, or modifying it... but this won't get done any time soon.

[2021-06-06 14:06] ACH1980 opened #146 "Code-Folding only works when refreshing file"
Code-Folding works fine, but everytime when I open a new file the functionality isn't there, I need to refresh the file and then it's functioning. The script was loaded on the first loading too but only worked after reloading...

[2021-06-10 13:41] touhidurrr opened #147 "GitHub in VSCode does not opens up the editor in new tab"

[2021-06-10 14:13] #147 closed

[2021-06-10 14:14] darkred commented on #147
Added in new version.

@Mottie, I took the liberty of pushing in master, I followed contributing.md 🙂

[2021-06-17 19:26] darkred opened #149 "(GitHub Collapse In Comment) `numberOfLines` appears to be +1 (it takes `</code>` as line)"
I've noticed in 'GitHub Collapse In Comment'
that the lines count value appears to be +1 the expected one.

e.g.

[code]

The markdown I used for the code fenching is just backticks: [screenshot](https://user-images.githubusercontent.com/723651/122460155-747abe80-cfba-11eb-8b77-5a5f74a02528.jpg)

For the above block, the `numberOfLines` is 11 instead of 10, and that's because it takes in the produ

[2021-06-18 13:44] JackofSpades707 opened #150 "Github Diff Filename - Colors not applying"
The code runs just fine and appears to be adding the proper class to the correct elements, however there's no CSS that ships with this userscript.

I can see that specifying the CSS for the respective classes fixes the issue as such:
![image](https://user-images.githubusercontent.com/17239750/122570015-33a59880-d000-11eb-927a-98632b968dd9.png)

I may make a PR for this

[2021-06-18 14:30] JackofSpades707 commented on #150
This is what the colors look like in the previous PR:
![image](https://user-images.githubusercontent.com/17239750/122576845-00b2d300-d007-11eb-87f2-c6c7f35e85e6.png)

[2021-06-18 15:30] JackofSpades707 opened #152 "Github Font Preview - overlapping text"
![image](https://user-images.githubusercontent.com/17239750/122584540-53908880-d00f-11eb-8c88-50df8ff5f160.png)

I highlighted the area's the text is overlapping. I may create a PR for this

[2021-06-18 15:33] JackofSpades707 opened #153 "Github Font Preview - Fails to render font preview on first-load"
First load:
![image](https://user-images.githubusercontent.com/17239750/122584913-c3067800-d00f-11eb-81db-612b59312a10.png)

After page refresh:
![image](https://user-images.githubusercontent.com/17239750/122585008-dc0f2900-d00f-11eb-886c-3ef9266302da.png)

[2021-06-18 16:17] JackofSpades707 opened #154 "Github Code Colors - color swatch not always displaying"
![image](https://user-images.githubusercontent.com/17239750/122590088-ecc29d80-d015-11eb-9572-c4e1e8fcc231.png)
Works just fine for JS but not for CSS codeblocks

[Link](https://github.com/Mottie/GitHub-userscripts/wiki/GitHub-code-colors)

[2021-06-18 16:20] JackofSpades707 opened #155 "GitHub copy code snippet - Deprecated"
Github offers this functionality itself now.
[Github copy code snippet](https://github.com/Mottie/GitHub-userscripts/wiki/GitHub-copy-code-snippet)

[2021-06-18 16:27] JackofSpades707 opened #156 "Github code folding - ellipsis barely noticable"
Actual appearance:
![image](https://user-images.githubusercontent.com/17239750/122591121-5f804880-d017-11eb-98a1-a4960ade1e38.png)

Desired appearance:
![image](https://user-images.githubusercontent.com/17239750/122591152-68711a00-d017-11eb-80a5-f83569480f42.png)

I may make a PR for this

[2021-06-18 16:32] darkred commented on #155
Yes, but unfortunately there are still cases where the built-in button is missing,

examples:
https://github.com/tophf/mpiv/discussions/50#discussioncomment-368271
https://github.com/sindresorhus/refined-github/issues/4337#issuecomment-835842120

[2021-06-18 17:17] JackofSpades707 commented on #154
Did a quick test to showcase it in more depth.

<details>
<summary>Codeblock</summary>

[code]
</details>

<details>
<summary>Result</summary>

![image](https://user-images.githubusercontent.com/17239750/122596155-4e870580-d01e-11eb-8800-98da962e701f.png)

</details>

[2021-06-18 17:28] JackofSpades707 commented on #154
Ahhh, appears I misunderstood the scope of this userscript. Appologies.

[2021-06-18 17:28] #154 closed

[2021-06-18 17:32] JackofSpades707 commented on #155
Ahhh gotcha, I'll go ahead and close this then

[2021-06-18 17:32] #155 closed

[2021-06-18 17:33] JackofSpades707 commented on #155
It might be a good idea to move it into the Deprecated section of the Readme, but I'll leave that to you guys to decide.

[2021-06-18 17:50] JackofSpades707 commented on #146
This may be relevant to #153

[2021-06-19 12:15] JackofSpades707 commented on #146
Looks like the solution is here: https://stackoverflow.com/questions/17862394/my-userscript-only-works-when-the-page-is-refreshed-or-on-iframes-not-the-main
Although this may be dated info

[2021-06-19 12:17] ACH1980 commented on #146
No, the code is there, but can't be folded...

I'll have a look, give me a moment...

[2021-06-19 12:19] JackofSpades707 commented on #146
The core problem is the same, Script X not running until the page is refreshed.

[2021-06-19 12:22] ACH1980 commented on #146
Yep, seems to be that problem... I don't have an idea how to fix, other then executing the code regularly even if no page was loaded (have done this for several scripts on .io-Games, but it could be a bit to heavy for github Scripts)... Maybe the devs have another idea? I'll close this one as it already exists and will post a summary in the other issue...

[2021-06-19 12:22] #146 closed

[2021-06-19 12:23] JackofSpades707 commented on #146
It's a good idea to provide a link to this issue as well by typing '#' + Issue number

[2021-06-19 12:24] ACH1980 commented on #146
Yeah I know and will do so! :)

[2021-06-19 12:26] ACH1980 commented on #153
As written in #146 this seems to be the problem mentioned here: https://stackoverflow.com/questions/17862394/my-userscript-only-works-when-the-page-is-refreshed-or-on-iframes-not-the-main
The page doesn't get loaded when you click a link, instead it loads only the contents via Ajax, which is good in point of bandwidth, but bad for the script that only executes on page load.

Possible solution coul

[2021-07-20 08:04] stdedos opened #158 "GitHub diff links "squeezes" triple-dot button"
Actual:
![image](https://user-images.githubusercontent.com/133706/126284412-bb4690eb-e524-4b56-ae8a-7dfbe0b6bab5.png)

With
![image](https://user-images.githubusercontent.com/133706/126284357-8a3593cc-7b08-41b3-8970-3c0064d799a6.png)

gives

![image](https://user-images.githubusercontent.com/133706/126284264-b2def0ec-098f-4c44-8b6d-11c54edcaa4f.png)

[2021-07-21 04:47] #158 closed

[2021-07-21 04:50] Mottie commented on #158
Hi @stdedos!

Thanks for reporting this problem. It's just been fixed.

[2021-08-29 20:08] mindaugasw opened #159 "GitHub code guides - doesn't work on PRs"
**EDIT: my bad, apparently it does work, but is incompatible with [Refined GitHub](https://github.com/sindresorhus/refined-github) extension.**

Script for code guides works only when viewing files in the repository, doesn't work when viewing PR file changes.

Examples:
Code in repository, works ([link](https://github.com/Mottie/GitHub-userscripts/blob/master/github-diff-filename.user.js), [screen

[2021-08-30 08:53] #159 closed

[2021-10-21 23:15] basings opened #160 "It can't sort if the cell contains an emoji"
because it starts with a colon `:` ?

[2021-10-24 18:18] darkred opened #161 "GitHub Issue Add Details - no longer works"
The 'GitHub Issue Add Details ' script no longer works (in existing or new comments of issue/pull requests).
Instead it shows in Console this error:

[code]

referring to line 44:

https://github.com/Mottie/GitHub-userscripts/blob/4983620a1661d204b675d82b2192c7ebbb16bbbc/github-issue-add-details.user.js#L44

Tested in a fresh Chrome profile witn only TM/VM installed.

[2021-11-30 14:03] Mottie commented on #161
I finally got around to updating the userscript, but I didn't add the enhancement you requested... once I find some more free time! 😞

[2021-12-25 13:30] stdedos opened #163 "GitHub in VSCode: Disable button `@media print`"
It's of no use to have the button rendered during print

[2021-12-25 16:17] Mottie commented on #163
Hi @stdedos!

Thanks, I'll put this on my to-do list.

[2022-01-06 21:43] #163 closed

[2022-01-11 21:05] olets opened #165 "feature request? bug?: GitHub issue comments: support hiding linked commits"
I'd like to be able to hide linked commits in an issue's activity (e.g. in Issue 1, don't show commits with the message `#1`.

This fits in "GitHub issue comments".

Maybe this is a bug, and the "commits" toggle should be hiding them. Looking at the script I see that toggle is under "pull requests" so maybe the existing toggle isn't targeting issue pages and this is a feature request.

Thanks for

[2022-01-12 02:02] Mottie commented on #165
Hi @olets!

I'm not sure I understand what you're asking. Do you mean when someone accidentally add `#1` to a comment, you want to unlink it since it's not really a link? I'm not sure we can differentiate them from actual links to tickets?

[2022-01-12 17:13] olets commented on #165
Nothing that fancy. I mean hiding all commit references from the issue timeline.

Real life example: this issue has quite a few commits and one comment. The branch was force pushed several times because the project uses a linear commit history and other ongoing work merged. Not a good experience for the project manager who just wants to read the comments.

<img width="200" src="https://user-images

[2022-01-13 01:38] Mottie commented on #165
Oh yes, the "commits" toggle should hide all those
![](https://user-images.githubusercontent.com/136959/149250237-e0690a8f-5940-4984-b89c-266003aa2e02.png)

[2022-01-13 18:12] olets commented on #165
Hm good to know. It doesn't for me. Maybe I have a conflicting extension. Will look into it…

[2022-02-18 22:35] olets commented on #165
Haven't had a chance to debug my environment, but it sounds like this is probably user error. Will reopen if I find that it isn't

[2022-02-18 22:35] #165 closed

[2022-02-28 13:48] Mottie commented on #120
I went ahead and added this userscript - https://github.com/Mottie/GitHub-userscripts/wiki/GitHub-diff-file-toggle - because I like the button at the top 😺

[2022-02-28 13:48] #120 closed

[2022-02-28 13:51] Mottie commented on #160
Hi @basings!

Sorry for not replying sooner. I'll try to take a look into this soon.

[2022-03-24 17:03] erosman opened #167 "FireMonkey Compatibility"
If let me know of any incompatibly with [FireMonkey](https://addons.mozilla.org/firefox/addon/firemonkey/), I will do my best to sort them out.

[2022-06-15 08:31] afg1 opened #169 "Custom navigation formatting on github projects page"
For some reason, the custom navigation bar formatting gets messed up on the github projects page:

![image](https://user-images.githubusercontent.com/623671/173778437-8d16344b-67cb-4f6d-9fbe-f8b4e19f47d3.png)

looking at the console, there seems to be something wrong with `ticky-browser.js`

[code]

This only happens inside an active project, just going to the projects page (e.g. in this repo) doe

[2022-07-04 02:24] veksha opened #170 "Github Title Notification is broken"
it always shows heart even if there is no new notifications present.

[2022-08-03 02:03] TFWol commented on #170
I'm having the same problem.
It seems to happen when I'm browsing a repo's Issues.

[2022-08-03 02:42] TFWol commented on #170
I was able to make a workaround.
Replace https://github.com/Mottie/GitHub-userscripts/blob/bc9181cd5d17084aa9f226a0a7cfbb0cd4045c1f/github-title-notification.user.js#L30

with:
[code]

[2022-08-03 03:34] Mottie commented on #170
I got it working with

[code]

Sorry, lots of personal stuff going on that I haven't had a chance to actually commit this fix.

[2022-08-03 07:02] TFWol commented on #170
No problem, I'm just glad you've made this amazing repo.

I didn't do a pull request because I knew you'd have a more eloquent way to fix it; I only dabble in JS 🙂

[2022-08-03 17:25] TFWol commented on #170
Is it just me or is changing the notification indicator symbol not working?

[2022-08-03 17:28] veksha commented on #170
yes, another bug.

[2022-08-03 17:55] TFWol commented on #170
Oo, I see why.

Change:
https://github.com/Mottie/GitHub-userscripts/blob/bc9181cd5d17084aa9f226a0a7cfbb0cd4045c1f/github-title-notification.user.js#L52

To:
[code]

Then refresh page

[2022-08-03 19:07] veksha commented on #170
nice work, @TFWol ! thank you.

[2022-08-08 12:33] #170 closed

[2022-08-12 12:40] niutech opened #173 "Feature request: show source code structure (list of classes, methods, functions, etc.)"
Could you please add a user script to show the structure of a source file, like Notepad++?

![Notepad++ Functions List](https://user-images.githubusercontent.com/384997/184355586-5560e9db-54d4-46d2-a29d-f8e53c2ea202.png)

[2022-08-25 19:03] Bluscream commented on #49
Can anyone please update this to work with the new format for transfer/change visibility?

[2022-09-04 08:31] luzianscherrer opened #174 ""GitHub Diff Filename" only work when reloading on the diff page"
I was trying out your "GitHub Diff Filename" userscript. It is only working when I explicitly reload the diff page in the browser once I have navigated there. Are you still maintaining this script and could you give me a hint how to modify it in order to apply the changes without having to manually reload on the diff page?

[2022-09-05 14:34] Mottie commented on #174
Hi @luzianscherrer!

I am still maintaining it, but I've been distracted by so many other things.

I think the issue is effecting more than just this userscript. When I move to a different view, it "seems" like the page is reloading, but the document `readyState` doesn't change, and the mutation observer doesn't catch any changes even though the entire page reloaded. I feel like this might be a bu

[2022-09-06 10:09] luzianscherrer commented on #174
It must have something to do with the fact that you are attaching the `MutationObserver` to `document.querySelector("body")` I think. That MutationObserver gets lost on certain pages. I'm not very well versed in web technology but maybe they are removing all observers on certain actions or something like that?

If I attach the `MutationObserver` to `document` then the mutuations are coming through

[2022-09-19 00:36] TFWol commented on #169
I'm seeing the same problem here with the messed up navigation bar. Pretty much breaks navigating projects.
I've had to put in an exclusion for those types of pages until the script is looked at.
`// @exclude     https://github.com/orgs/*/projects/*`

[2022-10-24 13:17] Mottie opened #175 "Greasy Fork followup"
Comment from Cool722 on Greasy Fork:

- Static time: Seems to always works now, it's the [GitHub repository size extension](https://github.com/harshjv/github-repo-size) that doesn't work if the static time script is applied. I would recommend reaching out to that author, or switching to the refined GitHub extension
- Toggle expanders: Updated to work with resolved comments
- Files filter: Works fo

[2022-10-26 00:33] Mottie commented on #174
Hiya! Sorry for the delay, please check to verify that this userscript is now working as expected.

[2022-10-26 00:34] Mottie commented on #169
Hiya! Sorry for the delay, please check to verify that this userscript is now working as expected.

[2022-10-26 00:56] Mottie commented on #49
Sorry for the delay, here is the updated code:

[code]

[2022-10-26 09:32] luzianscherrer commented on #174
Yes, I can confirm that with version 1.1.6 it is now working fine. Thanks a lot!

[2022-10-26 09:32] #174 closed

[2022-10-29 01:54] TFWol commented on #169
Looks like the script's navigation bar is replaced with the native project navigation.
If that's the intended effect then the script is working.

[2022-10-29 02:34] Mottie commented on #169
Yes, the top bar would be too tall if both the project and userscript navigation bars were visible

[2022-10-30 09:48] TFWol commented on #169
Makes sense. Good to know script is working as designed.

[2022-11-02 20:42] afg1 commented on #169
Hi, sorry it took me a while to get back to this - the script is now working as expected, thanks for fixing it!

[2022-11-02 21:25] #169 closed

[2022-11-05 12:03] maddes-b opened #177 "github-static-time: Option to show UTC"
I am using the format `Y-MM-DD HH:mm:ssZ` to have an ISO putput, but I cannot manage to get UTC dates and times.
Date and times are always show in my current timezone (from browser/system or whatever).

[2022-11-05 12:35] maddes-b commented on #177
I fiddled around with the script and with converting time to utc() after the check, then I get UTC timestamps.
[code]
Would need to a add flag to the options and add the flag to the panel.

[2022-11-08 05:14] Mottie commented on #177
Try this change. If it works for you, I'll update the main userscript

[code]

[2022-11-08 20:02] maddes-b commented on #177
It does not save the value for "Show UTC", so the setting is reset after forcing a reload of the page.
When checking the flag the display immediately shows UTC time.

I recognized the following:
* adding string "UTC" to the timeformat in lines 205 & 209, this should be done by the user via `z` or `Z`.
  If for any means necessary then it would be better to append ` z` to the timeFormat/tempFormat.